#EXTM3U
#EXT-X-VERSION:3
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-TARGETDURATION:8
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3cf168afc7df6b7bc39faa3604af8be6.png
#EXTINF:5.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4d5c076fe0f47083881ee3c0ca00c94b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/72fae66a36da24ffda5334f4d2fe0308.png
#EXTINF:4.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cec45626398c809ea7a539c4fb9b1f59.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7cc2636757b795533c94880dab3db7a2.png
#EXTINF:4.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/197f484418ac4bec02092cfdbd01e917.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/958297a1e3f37f894868d7ba7a36f03b.png
#EXTINF:6.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0919af60501f54c200770624857daf16.png
#EXTINF:2.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9654c76dac395f0b95fd31d885047bc0.png
#EXT-X-DISCONTINUITY
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/524d05d3cfe242355e99f32fe0815d74.png
#EXTINF:4.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bea48c7b601d6f7737b45ee0b898787b.png
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fa7dc94a839f1d186f8455a23b646de3.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/eedbd33850969c026ce52204014688d7.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a7cd1cb3796cdf95c7c5bda19c1577d9.png
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/99fcc6a6f6ead70807ad545b125b9cf2.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/98139201b979cf43065e839b682f0cd1.png
#EXTINF:4.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3907c79a8e7650bba62136c9226989d3.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b33d16cfb4f9d0a74fdc7aab12133099.png
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/33bcf34b8285788ac3e48234947c64f1.png
#EXT-X-DISCONTINUITY
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/44f1bb0b14e56eaf25eca36c0c13bae1.png
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/35c9dc51c6b925dd702a895d46636a58.png
#EXTINF:3.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a57608f4a5f3aac79c569357d100aecc.png
#EXTINF:5.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ccd6349322218e9873d551632a188397.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/debcf9a90b793ac67fc70862ed672cb3.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7429e2e9cbcd30d1910e7c92db932514.png
#EXTINF:4.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d0434c40b182584e9bf035f3e7883394.png
#EXTINF:4.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/adc0a0b46590381c39bd127c9d294018.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1c62b227b527833df3f31db2bca0c82d.png
#EXTINF:3.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/89a26689518edbe78dab560a45c73eb6.png
#EXT-X-DISCONTINUITY
#EXTINF:6.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/38b010c82d269ab84bbc83b33b6af24e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6d092e6524ddd174cedc44389ddc6e4d.png
#EXTINF:1.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fd6c6bf44bc73800a99c748effb59462.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f3bc26a8e154b93a6e43c26f3c3bda48.png
#EXTINF:6.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/eec954be6716e77b7b615c9710c1f8df.png
#EXTINF:3.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/94e10581ecce3dd22afc263b4907660f.png
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f29d98b6d6e9116e52f417ba280863b5.png
#EXTINF:3.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7bcf6861a7dee7cb6e777fdb66461a0d.png
#EXTINF:2.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/69923f8a2a9d48f24bdd7dc4c709b3c7.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4561f812e60826a1d9a89e63e61fa532.png
#EXT-X-DISCONTINUITY
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/77802e427e41fa16d767c741495396dd.png
#EXTINF:4.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5d2828a41f6d4450a8e2efcc8ccfa75d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/98d660aba3554926d61ad815ab143db6.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/267ac4b728e8c6c9214cbec92fe2ff02.png
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/23273255468a543c930aa8f5a35bb524.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/68d4276a89288cfe50f3f2f1edd6236d.png
#EXTINF:4.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/996e9cbabab35313dc027164a92039db.png
#EXTINF:2.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/36cfbe90a9d4619a2a17afe89611f275.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/79a3ed5c965ad1960a7d3d24031083f4.png
#EXTINF:3.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9f361fe5f1af0ab5fe4fb064a6a6ed1a.png
#EXT-X-DISCONTINUITY
#EXTINF:4.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/096ac472feaad43ebc8356ec9cb3578c.png
#EXTINF:3.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1636fe7db227f9b7c2a133d3c85dddfb.png
#EXTINF:4.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/07ccd7818862b52aa3152ad03395c752.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a7599d6909165e4a3f486dc06a2b979c.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/21ba54852b230eb5b1bbeb31f39ca76c.png
#EXTINF:2.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/635d61279d4cd4aaeea5074dfd36a88a.png
#EXTINF:4.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/67a383bdb6a5089aef7d0c1e20f30280.png
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/86c90c94c007a2dffc975633282d4bec.png
#EXTINF:2.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/06f8ee533306cd2eaa145b33f0fbe530.png
#EXTINF:5.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/12d63017a55cbe1491bba4eb83c2ec3e.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a51b5875958e8a14903a996bc3585a07.png
#EXTINF:2.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/db4f611f657607fccfb1ab8915acd162.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5a6e597bf10910b58de57f5a8d5ea025.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d04b9f7f50578539b5fc41c16b35ce43.png
#EXTINF:4.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/24a27835ca10718096abd3c1292b7a17.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5087e6e0ed54f3f2e24373e3633277c0.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/585a560840d361da3e7f88ff3864e289.png
#EXTINF:4.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9ea44d043e6e083020e88649754fe1ca.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/16e8c6cb1ad76eb74fa3932ce795317c.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6a51e476333f2668035bb1fdda8db1dd.png
#EXT-X-DISCONTINUITY
#EXTINF:4.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/18ecf8eee2ba9540e9ad0e3dcef9a872.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/efda02eb41d435d78c74b4c7b534d07a.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7854dce4ffc8b1a306bd95ba4886a8f1.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/754a7de4aa9981f2154243b1dc48c878.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/93cb51c2745d065d72d7d559bb56fe55.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5504294fbac11f9654145e51d4009837.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e5afdc6df5185a117377d969234035ae.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9bde52290e6df68671f0c4ea838c5f6f.png
#EXTINF:4.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/549bde25e16c4259af9092164af9fe73.png
#EXTINF:6.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5976da057f590c07d4a0b713433c317c.png
#EXT-X-DISCONTINUITY
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0d47b7b8caf9d3368b30403f4e711e07.png
#EXTINF:1.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/298c63edcdf344f60d5e7787aa8cb70d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9157deeb01a761ed74c98a966a5ec5fc.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/52b4826d869923838fee798ade24fef5.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5d5d7bd081dbd9a2a91c62bfd4388fdf.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/36d0e1ce078b003332c29ebcb2c3b9ab.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0b920210cb6cce9dfe8bd047ae206da0.png
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/578aa2f4b5432de6e2b6e132fcf657f3.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/47c2f0a3bcfa9a90eb20454864bb2166.png
#EXTINF:4.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9dce8203e9374427715212dc8c8ad13d.png
#EXT-X-DISCONTINUITY
#EXTINF:6.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0df23db52fc0c2f156a35377b0b0e8b8.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ab2f4fb7496b6d213f5a28df1f8a1768.png
#EXTINF:2.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d604d87d5834ce4ef5d3d8d43d237d3f.png
#EXTINF:2.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/55ad9c588d883c8a2ba5191a3432170b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3365fc35358378aa78320944dcd6c060.png
#EXTINF:7.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b0f5299460e6474acb0830a8c47d4475.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b32feb5a1fec8ed926f3d23e71caba04.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d1ce15ac15bfb13fcd9948e54ab0779d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b0c6f94dc5d7cbbddb4f67a56f54ae2e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1351222ccfaff55997fe0111bd49c8ec.png
#EXT-X-DISCONTINUITY
#EXTINF:2.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/067274a83de443c513b3499525b2b44e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/64674771b256a5ba9199f1ac63c45f89.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a90210fc5cdf281be2708b381302b8e6.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/60fdd3740c693a0e32d8539757dc00f8.png
#EXTINF:2.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2cc7c91373d298311cbc96df47176ac0.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/48ec105e6b5c3b8f430ee2841b93e4bb.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c2d4deda9bd8d90cba1712527a4863ed.png
#EXTINF:6.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/35f73320d9b02fd8ce65769e8b79ea78.png
#EXTINF:1.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e3d5521712b1323ef70de1275c31d835.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9af3575b9283c08982424ede9a66e6c1.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2a0b48dd672226259d441ad491442895.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6aff1faba87be01fc88521d55bb5321c.png
#EXTINF:6.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d7a663f7a801ac95404089b40c3f289f.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/84fa5adb2097e41b194d42f8356d493e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a2c1d63ab0ce454398dc2e5ae639e975.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bb5e4682f2c28203bd2e30bfb50ae0d1.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5e546c3c47d29a82cc3cb4aac71e7740.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/78ef6abec95a1634e42b2a863d373c72.png
#EXTINF:1.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0d9e33361edfd5b8454619ef2874bf28.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0a1341941db134319a61e8381ccfa0b7.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fcbe02b375ff550add1a51657d88d529.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/77e0c40465ef0a407c0a75a4b2d278b8.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dc3ec830ff00949d6204d9008776d014.png
#EXTINF:2.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1c9a370b66544d27233281f4dd57eb49.png
#EXTINF:6.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/432ac6d5af3da660abfae97b66b21a62.png
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/59f27fe0160646309c63a97cd6171f0b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1bbd13c17f78e6f7732ed4bea937e965.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/81536b8e7b9e46c7b09fe5ef7bfe48fd.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/21a90e190cc7642962b36771c4017290.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/22c328d71ea2044d9745cbe3d61dd94e.png
#EXT-X-DISCONTINUITY
#EXTINF:2.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/63ed85d09c11fc92fb76a1e076de9a3a.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4a1f5330c783f1b133782279426a7cf2.png
#EXTINF:6.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8501238a03ca4a66294f5b6d4e115ba5.png
#EXTINF:2.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/052fc6b685ee422804981bc204a3b036.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/01b9980436d324bfd0bf3ffeb531b1aa.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8e580667582a70fb2cc0a55747e3275c.png
#EXTINF:6.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/df899b70cdfc15f962726e81cd174f78.png
#EXTINF:1.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/00d520a2fe71fc2e71e8ee5e30a1400c.png
#EXTINF:3.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f9a7178fd39f03764ef93c01f2fdefa3.png
#EXTINF:6.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/535b7cc6853fad94a397769327ec36e2.png
#EXT-X-DISCONTINUITY
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a928a76561ee29d9550813859cd51735.png
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3162846d50300f11e8b77804bd21f97f.png
#EXTINF:0.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c0d0ff3d7169d679eda712a5d4b3b93f.png
#EXTINF:3.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d6600edcdd27491635a1f0dab8ed06e6.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/31e3b24d7020e99bce6e56136135501b.png
#EXTINF:4.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/52e75d2f88164ee0e581dbd518103e51.png
#EXTINF:5.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f274951ec6f0c55d03f860f92a03b068.png
#EXTINF:3.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c9a6efab507ca027f5e6b45b8e8adcd2.png
#EXTINF:3.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/abb70d1a166de68bd987f25da3f86a4e.png
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/928d4d44c030811df60b02ff8c662794.png
#EXTINF:6.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2f52b8f7bad6aa6f69727e56451c737c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ab6397ef99eb55bff8793bd0dbf86967.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9699b3b16bec17f1183b6d32852b41cb.png
#EXTINF:2.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a38ba53c236242d6498dee253ec81a06.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/847d4486806957984b4acfc78d6d1358.png
#EXTINF:6.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/08c712957827525ff3827abf1f1eb9d3.png
#EXT-X-DISCONTINUITY
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cfafb9e10ddaa00b4b95da20268d0950.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c47e25159fc2444c029b7baa25c00a2b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9f45b93d024c0a78a80c58f12d05ab07.png
#EXTINF:2.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/99bd0a086933dfc585020d6dbc0b1df8.png
#EXTINF:6.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8bc0dcb34c9cfaf383846f00b5739bdc.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/82ce28df5c3df49a776dd9312e515ac7.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/72e0355409891716b25ce98f33de4bc2.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f60410c45abd282cacd24d0429ee010e.png
#EXTINF:1.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8918d5d3ed98fe09ee595e0eb8a11043.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dd65a594a556efd40866cb4e5669d05c.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4dc2c3ef4abe3432163837c6fe596359.png
#EXTINF:6.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2e0f43aa9bd75270b6dade65875d7a9e.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c8c5ba3f02625b2e06367149b8935cb2.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d3108f42a66db6d687bc3ced49ff430f.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0decc2e7b916c9145ccd141a9971e43a.png
#EXTINF:3.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c55ed6d55ba0eb37feced786ee1348d1.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aa5e64f7842c8990436ef19e19d3373d.png
#EXTINF:4.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1acea5afa74a543c4e7ac595b722cc02.png
#EXTINF:2.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4fae70d15aa2f359fa21e01003a90801.png
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1f15bb6b07fccae9e78305262b8f3d94.png
#EXT-X-DISCONTINUITY
#EXTINF:3.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2c035c4acad9780fbe57d13f2e22f6bf.png
#EXTINF:5.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0fe1114a0fbbaebe4d5e4f5d3bf65970.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9d7912e90e38b546658228aacf7c4b1f.png
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9f8e3f0e184961728d59cea3d23b41b8.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1a750cbc07447fdbb47b4bb7a7847f5d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1ce84ed4761fb03a2d503ea6dd75084c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/28886a9917fa76afc92b9f09a649e4e7.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4eeaeb021f28d91d8c678713be374918.png
#EXTINF:6.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7ae17325972958d5868b529d55207dee.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/80103af2370ab6c896d10705702b074c.png
#EXT-X-DISCONTINUITY
#EXTINF:1.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8a3b84a2db953f4e44ad81f19e9f0b8b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b79c50a0a351c113b5fb19602a344fb4.png
#EXTINF:5.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/278204ea744f2b2ebcba80c19cb2bcd1.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/db2e921b05923fec6b7f7c6d244d4ede.png
#EXTINF:1.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/922993c4b28fe9a737caa9f701687670.png
#EXTINF:6.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4bcf23a36478485bec34abc5805be141.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fe82e3fa43cb9415bc6797e13dbb6828.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cc8d292aed7218ee3083d20040e8654b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bf235c9e31c30f40a0be00ac83adbdbd.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d8b7cd0fab0ddb35259e02d95e14a99f.png
#EXT-X-DISCONTINUITY
#EXTINF:2.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cc9cafdca035587d4f4c8cae8393ea82.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/01ccd770631601f375afd990757e8436.png
#EXTINF:4.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9a92876b8cc9e4e8ed23731fa7af483f.png
#EXTINF:2.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c93d4b5528751fad88edbffbe2a459af.png
#EXTINF:6.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/29099230dd52cbc4a3b18c75cc473778.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c279792c7bd318ca2bb69482060590dd.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7e8c9f65ee24b2bd90b31ed2e9c08b4e.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1fa641db518a47ced0509c890071d975.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3bdbffab231df9ac63dd6e28f14555ed.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7253cd694f40623b8319f2ad886fbd73.png
#EXT-X-DISCONTINUITY
#EXTINF:6.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e3ad350fcdd737a1ca0a718b511781f6.png
#EXTINF:3.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3c82511a65a748b12fd5fc93fac73cdf.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/420312ea6585f0f8e2a422ce2195a911.png
#EXTINF:3.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7790eb0fd4144c13160770c10c56759a.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7a3326a32abbf019de9d8e102441a12e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b7ea02607747f59861ca2bc8329c02c8.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2b630844e14145d9a733c56512c2af00.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/503457006c17f9901bdc7107b47a53f3.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d3d9df6b0ba9838ebd220eb5357e9629.png
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4d605376dc08bde266a278a44e8ea091.png
#EXT-X-DISCONTINUITY
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/904b01464ca7d4c118570bf8acd3d05d.png
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8b0cdfb2ac548d0912865051aea0aec6.png
#EXTINF:5.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/97fe64667893200bd0dba7b62219021c.png
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f0f2d2d54c88ced6a23a4842d9055914.png
#EXTINF:6.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/640d45c8a93c94fec3886632c205f47d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/da34f31b7de709198db79041d86bb633.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/48b57098e419268855eca6338e155b15.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3cf3d31efa719562de3db9d57d34955d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/86ae8d2b7bdea350d0aa1476efbf6a7b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e5ee120fd575861f4b578a412d96fec7.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d655df0bc0baa1e80f01059d18c1b9f6.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/58f8b5eccce14991476bfaa7fe4ddc69.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dbfcfc5043b6b9136d7888b02622efea.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9728a94284ae4fcbac7199d32ca2b39b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bb72327370c324da9282eb396d741b89.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8a9016885de9e421f673bab8e47e596a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3fefc6f4866386efd4a7b55f494199a2.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/28382c34882385a13c5877096376bb03.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f40aa537d6b8a32d5c9f8fc022425187.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/41552d53a3621648206f42d9ad3466a9.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b4eca197e16613a5b9d66548eea1b82c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/db4a54c6a5869e0de07745579e89691e.png
#EXTINF:5.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d901ad3523e35b9833119ed726a628b3.png
#EXTINF:1.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1f8a870b3cf361a15d49e395a9669f5f.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/256fd0f8ed09291fed745cf17413aa62.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/88e163f548cd0ecb0d5ffec51a89ae1d.png
#EXTINF:5.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/938faf9b9079572ced0abb4fcfedc88f.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e641647e2288af268dd2c79caaf8d974.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aeefd849d3021d6fac8f9f71048edca3.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d944473f281a06f23fe90f1e1c0cb8b7.png
#EXT-X-DISCONTINUITY
#EXTINF:2.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/62fa00f84a0cef433ad5e90d07bd0615.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bad0ca1163529a303d406cc386e7681b.png
#EXTINF:4.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/614706afd93634747badf4b95bab875c.png
#EXTINF:5.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/74729f54d81aabf8a9b3fd3bee47a557.png
#EXTINF:3.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e79f9dc7dee05932c511a2361fad67a9.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/af631c1889734db76944e412594ab4fd.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f9c805ff51f03f1b0dc0c393bc1cbd0c.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e1eb538cec2ae271d2a2714ba84ae1e7.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/08445edb179187b569e1d1e556c76579.png
#EXTINF:3.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f9262963f30a3703c33080ca8e1f9a62.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b877b1ec7d8e638bc389b7f3ac930718.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6a0f0897f645ec85c279347c0ee5374f.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/234cdd5f7aa6a21ef5635fe0bfcece5f.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f086e750d3d2be7251714966f84cc03b.png
#EXTINF:4.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ba257ede11489f23f900f625760315e5.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/51fe02fb4358c2189f1164020b1ddb35.png
#EXTINF:2.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/04eaf25f7d7752d6fc692eca0257205e.png
#EXTINF:5.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/afdb914eed096ffd1f8fa3b3ca03ea17.png
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/178f352933b55f52d9b53a200d9724de.png
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fd99e111d4cfa8b1db554d9743a629ee.png
#EXT-X-DISCONTINUITY
#EXTINF:4.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ff43706816dcecc17c46f2bcd420bc72.png
#EXTINF:4.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bc59197c03138b516da1ce924fde1da8.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/232e36fd2d08c6bbccda13ff881b6802.png
#EXTINF:4.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9612fae00189e1a0f6aee6be4cfa7213.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e647ed17c7ca44cccd3d8b112e1eb539.png
#EXTINF:5.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/10dd9d57f66c6b1dadcf28b899305ace.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1ab243b7c50963cf50fae32d6a58e34d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ff4e660e810069b4d83f0ffd151e702c.png
#EXTINF:3.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aee12b53e527a2738c5a10e4f68737fd.png
#EXTINF:4.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4a725c2fa882a96135da1e1b99d69ea2.png
#EXT-X-DISCONTINUITY
#EXTINF:6.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/66993d5de627048233d4b2b8cce5200b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/13bbdc97e38dab691d76b4b49d7f15c7.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/979654dfd1ed4b26617ee77ee937577f.png
#EXTINF:2.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/79044236b99b2c9dcbffe4814eff9c43.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/736cf8a646c120c51bd200a3bdc4fe7b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/df2b61d0b2af54af7cbe630ad91d108f.png
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8458072d5b3e1400c24e3b11051b5a0a.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/941c270f2aa779e159341becf032a752.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/de22de3f6353877315a221c0d988fc35.png
#EXTINF:3.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/18e693b1250e1735b99c0c9d4a479d4b.png
#EXT-X-DISCONTINUITY
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/de5bc17c1f446f057896a1473a6d97c6.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3e85142739280e7d79bacd32f5020476.png
#EXTINF:4.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fa14912e4232d3912abd2a8707b1c7e3.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4067fb68bf8aa4f761319ff0ed5d0125.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/acce40ab6f2e7da1b7d84ca70c654788.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1ab4248467671afcdc2bd558da587e96.png
#EXTINF:7.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/13834bc6754c9036ca2a22e5d99390ca.png
#EXTINF:1.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4e82dd0ebcb991c4f36723479c61d631.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e9458d2435cbb25de7d638d5de55fbed.png
#EXTINF:6.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bd94c9964bd630a261bd99c48dc3edba.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/493f4a96e8fed4efaea743638f628e99.png
#EXTINF:2.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0a2fd4c829ec77e6552920d20e14b4c6.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dd3e424887d397b5eb5b89ceeda0f489.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/80310b60e3173217a124bbb62da94a0d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2627fa1afc2331c2ab506fa54c011ffb.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ef6cb655b84e600be5ed9baf7e460092.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/862ee6aaeec7bdbb82f71cc3c97fb2f1.png
#EXTINF:7.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/68436ede7826d752c13ae5e7def98550.png
#EXTINF:0.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bdedbb2c08a7822a2b3820cd8768c86e.png
#EXTINF:6.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/19bec2c401e63b3735a40a5e823c7700.png
#EXT-X-DISCONTINUITY
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/03ff0be6984f42f9a058196ddb5e7892.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/508c6801255123993e64c6fa264320dd.png
#EXTINF:2.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c20c1c54cfdd7529b794b1c97b64c0d8.png
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b795aad860500935d4b34f9f8bef939d.png
#EXTINF:2.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/95d4aee5312d73845a62f66d3af0f4fa.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/50f85f961dde9e814bafe43344a13d0b.png
#EXTINF:6.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/df6b799b181c1236db7e7457b81a05aa.png
#EXTINF:2.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/95848f32e439a1105cd6622a6b2e7eaf.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b8a0e1a6316defe6dfda5698bc11fa4b.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2c4477091f83ad01d73ecd13fae7b45c.png
#EXT-X-DISCONTINUITY
#EXTINF:6.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0dd69368dfa3eadd53314bfdefde16be.png
#EXTINF:5.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cc7e19f56f6f19dfad3e9af3a151dbd4.png
#EXTINF:0.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c8820c5b1c85250ed73bf0d934a6949e.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8b2ab95304901b927f895be41969ce24.png
#EXTINF:6.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dc389ea17d1a10788189836e31d05363.png
#EXTINF:4.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b088ad4d26ae217e11a9f259ee7f0995.png
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a99e769422cb1c633e846dc986d0ad2e.png
#EXTINF:2.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/89dd8174b2e05013f62e5cda3cd723af.png
#EXTINF:4.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/223acaffc0b8577a7b0958518792fda1.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7bc5e12ed53668dd6dca1dbfe172c6c0.png
#EXT-X-DISCONTINUITY
#EXTINF:4.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/75c931f6345aeeb9a2ce5ff44d9d3e0a.png
#EXTINF:2.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e1ec9a0da4831e7a8c111d44f2152935.png
#EXTINF:5.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5d9c742c73ad66c71fb5b85b98adc4a7.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f93c5af34473a99f6686b8e83f798888.png
#EXTINF:5.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/724e00539da253a76717ac1cffd43b5c.png
#EXTINF:2.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fb45644b093140ec8dc6082429935776.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e5c55f63a0dfad72734208700c3a70eb.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/06de3e8b03a6583557548de8f6f4c7a3.png
#EXTINF:5.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/66933df7c851b218cf6107a78ba6ce99.png
#EXTINF:2.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0a535fd6ddec7767f61a84e0a2599f2d.png
#EXT-X-DISCONTINUITY
#EXTINF:2.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7a1316a89c5a6a216eba32817f23930b.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d2aa3a2c057d7f01d624f2d81095c8a6.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/173a49b6a4dc43d578543d6511f96ec0.png
#EXTINF:5.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ffcd1e1f1588ddafb9d8004f7d75cd6c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/68208197ac07c301f635f27205a9d095.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b752587a1344cd755beb45ef6e54e160.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e9630f5a5ca6205c33d99259ce32774b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/35f02c91ae287501971d9f0a865820a5.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/34b6099ea7211824f208a0ceb4b4c52e.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e5d5aed51af731c65df584373abd7c7e.png
#EXT-X-DISCONTINUITY
#EXTINF:4.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/84820cf0fe87cbf0761e7a85f5ac4e8a.png
#EXTINF:4.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8107f8b3a2f911c8b9510e4355d85f60.png
#EXTINF:4.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2be2840796aa4ac41f2a69dd9f88fefe.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e8ef6e73d8174e2779cd040510699a98.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ec21e837755ba90ace3a897e8b02c01b.png
#EXTINF:3.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e251cf7c0f207e10d7c4961dd27cea0a.png
#EXTINF:3.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fc3812b4e235dbec578034a994bcc1a5.png
#EXTINF:4.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8a776937ad5a2177d8ae0d160d561f97.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4bf4af2c3708a22297430a8abef82a22.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1c23f48a7c3a352f1920cc2bd8722fcd.png
#EXT-X-DISCONTINUITY
#EXTINF:7.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5419d4c611b97d358ad0e50a9e078898.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e9745a82681ace265586a0a1d07e8e95.png
#EXTINF:2.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/771f4c4ae85916bef5fcfe0003c859c2.png
#EXTINF:4.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/96b112e100db95730c5633a24aa6fee3.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b3ef402cf6344f9b1c17f96e8ba07c70.png
#EXTINF:6.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/394009d45670c93b8060bf9aff9a87b8.png
#EXTINF:1.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6928646d23625eeecd44b7e20c4dfe40.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8d628c92a36def8b4028a4586d0af63b.png
#EXTINF:2.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/49dd339a9bc7fa54251a155dcabb4f08.png
#EXTINF:7.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bebc9a4497cd160b43f74833ee7a501b.png
#EXT-X-DISCONTINUITY
#EXTINF:1.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e1f2582d164559583a001fdf150b52c0.png
#EXTINF:6.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/82dba2f331a3f75b06b8119a0ba6e7b1.png
#EXTINF:0.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/387d74387a86cd05de70cf29a473dbc4.png
#EXTINF:5.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/35512bf073c152e42094c665404a42a5.png
#EXTINF:1.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7628620c0a2c81f30a4ffea7810e80ac.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aa1193123fb8e8b34f4962a633940a95.png
#EXTINF:6.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9ff85cfbfc094a90829d8b789b3c2f49.png
#EXTINF:3.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/760acb9e4858f63280d4eb8ce737e179.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ec24b590eaa7c731a2c8a5738bf9186f.png
#EXTINF:2.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bf6be5c05d07db3e489abd111d13cd03.png
#EXT-X-DISCONTINUITY
#EXTINF:4.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5279a62d0d76127c7af9f1441ab8eb70.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2306ca15ca0e7681cecfb1fc7772fd32.png
#EXTINF:3.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d76ad298a0d288d19ef06592581f2cd4.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6179b091a0a25e22a498309644750910.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e933d195b684575c3d5c8b7fc55b002e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/01db32d304a149987cb6aad001205a5a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a2437b76c89bc6714a288965544d7805.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a39c674b1a0aa4388a29d7c2321dbb3d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bc127992c14ccf712d83a84589e86501.png
#EXTINF:4.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a5682b70619c009b65be6b74895cbf35.png
#EXT-X-DISCONTINUITY
#EXTINF:6.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/081bc7e8c724b6f0bfbe6e0f9d8a7bbf.png
#EXTINF:0.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0328bd203a09c5dbfcca58df938d2426.png
#EXTINF:4.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/10ce7f69cd2354ba48458e836b9cff14.png
#EXTINF:4.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fb20de1d59a7f6737a990c67901f2c1b.png
#EXTINF:6.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b43ec4ff7660165a1d19ba5930dab8a9.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f07024aae4823fc47bfc713308efab02.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f5a874507e102adfa6114de2d9dc5a62.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bea8e09a6f43736221dd00c9ece8bd5d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/05bc857e41b3c8e604fa492271615110.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d0b2d3ec16d3ddb4f6a45dbf167293ad.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fc996bdf3bb424f329569c6144b87abe.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bd1690b6d31e6de027864cc76df437d2.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b7d60dfdda735a86c58ee0b974654794.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c799a54d2cd8045948719a3b8475b846.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1537c457a1850b899b08a8b851cf8bce.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aebefdcce4265870e016e166b4c3f12a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/94d566a61488ae056dc75e04f98fad94.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/872a4ca375d708756ddc453f6c672c63.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/687c17c11c4ba4c6affbdc4362191c63.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b43c6291d0bd07e4757d8f551ac990f3.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/65338fb49e14e07475c43630175d4089.png
#EXTINF:5.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9553f7b055b17717858b8810ce01f39c.png
#EXTINF:1.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e190698508e24e1ead4749dbf2c76571.png
#EXTINF:3.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f346d0af9a25c970d50111b359bbedd3.png
#EXTINF:5.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/787ea12794e6a3bcb570ce03c90a54d3.png
#EXTINF:2.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f0b3597df64b12126ba2dfe143c08752.png
#EXTINF:5.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fc020b7784e40f58459a4c9f9b08aab3.png
#EXTINF:3.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/87b462a23fc82dc199e8c76f80991335.png
#EXTINF:5.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f78fbbc7a4a379e615994584a83855ea.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a911dc126958fddc3f47bfa0909bb3e2.png
#EXT-X-DISCONTINUITY
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6908bba1458f742cffa688ce8304fe54.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/70c5096e428ebfb051aa8c671e83b189.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8dbb6188f5f4927b2f32e00a8abfe3c9.png
#EXTINF:4.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6d89b85a3f817a518b06b24f0c94983b.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c207c6124e000139ae6f32c3cc459420.png
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9bfd86bd5ca57a89d012740ac7830be5.png
#EXTINF:2.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e99525d30dea5d02072a9a3dfdd85cd2.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/08de4ad522c42020ce8033236065d5b8.png
#EXTINF:7.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1799a440b62a633b6a13a9cc4e1a013d.png
#EXTINF:0.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2351d293f9adf872c13df92cb458a31e.png
#EXT-X-DISCONTINUITY
#EXTINF:4.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/390b81a4245a39c8c553f764d6047b84.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4cf24bc45a4dd3234e01e891fa063d60.png
#EXTINF:5.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4a1a97b6ca7b58f997cc95bc424a6117.png
#EXTINF:4.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/17d9f66126f1c5bc37c41280bde2be64.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0b989dc7a829b1c9d34e26ae35f2d186.png
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/253f2ca5bd46bd849fe4d72b27643b07.png
#EXTINF:1.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/085250dea871649fcaa11207c4cd3e6d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2105e8ca778f5c47cb6151ef1cd9df91.png
#EXTINF:4.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8c4bf6a2f9d048f2cbeda517c23abe56.png
#EXTINF:6.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/66786c5fd9be97d33e78ea2c6352a706.png
#EXT-X-DISCONTINUITY
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/29912629441cf4231ff2ee19dee2d188.png
#EXTINF:2.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0ff03b5cee120df513312ec8e663e566.png
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a0fd125b1a1da7059189ec89ac600796.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/91dc66f14fc941f1ccd928a8c8964772.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a490448396981ccfa213b3eb7503a53d.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e11944bad8a57367826c1bc0f0654c5e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/450a127b1d11922b1bc558464ef9e5cc.png
#EXTINF:6.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ac3a2a663c15ed3615fae27ec112073b.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4266be1f7828b4153cb16eef3b064fa0.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/980df3571c4804c0e48c49aec6b26283.png
#EXT-X-DISCONTINUITY
#EXTINF:7.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3537ff12fe8adcb70ac9651bc46fe314.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c3a5549c05898720c231c3facb346d1d.png
#EXTINF:2.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ea40ed31b329a26130b8be590a005ec3.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/654906f1728ee502f662071e434a6c31.png
#EXTINF:4.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7a12a327a8e6fb4ca25db27cb4515db6.png
#EXTINF:4.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9cda1426dbb1fa76cce38bcdf09ac6c1.png
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/14d005b2c73c5d5a50b53d2016a7192d.png
#EXTINF:4.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4616d3b991fb24321dc5480da222e5c1.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/45c3feaf124bc50d0e2a4c3bc61bf55d.png
#EXTINF:7.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2cd5bf358e5903eb186ae24fbccc20c0.png
#EXT-X-DISCONTINUITY
#EXTINF:1.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b6c7c7638bb05c77dc8ba15408326810.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3429adc8ff302e11ec65b2dd7abf6e48.png
#EXTINF:4.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/113581ef29cd01d5b4887b8f708b9e70.png
#EXTINF:3.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5418cd51685f3a2e3141af9bab594bdd.png
#EXTINF:4.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7c0abfe4e814429fb9af335aba7b43b8.png
#EXTINF:5.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d5043c44f3024d50cff142126234af25.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fc9d756ecf680509b5dc9d6379ebc87c.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0b81b597aa35fa0280f6ee2456e23b46.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5455c7664eaacfc07a5a691e9624d8ed.png
#EXTINF:6.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2a403aaeb23b668d2fe572fd30c9caa9.png
#EXT-X-DISCONTINUITY
#EXTINF:1.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fc7e0293dec21ca82c4efbef39d14bd1.png
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c1e2be4f4e0dde9b9d2e51cce1433b4d.png
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/399c898aee84385634778484d226f240.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f31f2e713f73cf93fe2dfe8e0d811386.png
#EXTINF:4.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/255581416898927c4fe34ef873e94154.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9a1faa143f0a06e6b80e800cdf353928.png
#EXTINF:6.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8c3535d91fbb1bc8a38e90c2673fba46.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6774bf6b1a509764ce76a103096c8bc9.png
#EXTINF:2.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6a29845702056e5e6a21e430a925a0f5.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/11c44f337d457e5a00bcb72b3f24281e.png
#EXT-X-DISCONTINUITY
#EXTINF:6.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bc57d19f790431bdb9ecc9adaa8e939f.png
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/21a4b16dca163b0d9a960d7d46cd5932.png
#EXTINF:3.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0bcdb9bffb9a3d23448f06c9f7ab6a6d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/12fa202ef1593b7c01515cefc3d3ae59.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/76e9b770dc3088bb2d6e6562e6805590.png
#EXTINF:1.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/16f641bd0ec72a6d6fa8a16e0b0b9f57.png
#EXT-X-ENDLIST
