#EXTM3U
#EXT-X-VERSION:3
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-TARGETDURATION:8
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c6116219f3d1f970db8fa209d2257464.png
#EXTINF:5.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d3eb60360d9b4232ab46ca7cc319c79d.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/233d62b9b144a76de869c2c78714be1c.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2a57a97eb16d5d90d6eecdc88072e7c8.png
#EXTINF:2.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2eb4c76f29fec190df949d3a8178e062.png
#EXTINF:4.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1f7b99ae0355d782a24e7d607970b691.png
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7d5f3f7113f297e5e58c57f66c6c82b4.png
#EXTINF:6.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/da9bca7d921734204152fa2675b8a385.png
#EXTINF:2.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c57bd0ddfe52ca0c7b90d4c412674392.png
#EXT-X-DISCONTINUITY
#EXTINF:2.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/55dcb79b3a70bc070ae2469eead20156.png
#EXTINF:4.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/63786751dfb0af7d7ad26056e5e535da.png
#EXTINF:5.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/665421bcbec05f8dedb2f33851c6fb73.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b923649d1b24e83d331edba34b74132e.png
#EXTINF:2.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/467585c31a5080733d34ee3fdabf0ca8.png
#EXTINF:5.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7f962d3ff161f88d73c66d5d1c76f8a6.png
#EXTINF:2.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fe893c57a497aa7372ca6040d294af30.png
#EXTINF:4.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1726326a745813a893ceef69dec6ff32.png
#EXTINF:5.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c415cb8d20e158414084c9a3dafcf649.png
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6dd81ad84463d99e006c2d226b9f5269.png
#EXT-X-DISCONTINUITY
#EXTINF:5.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/eaab622919bf6957f9891bdd03fc8903.png
#EXTINF:2.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d6ec66c60a425d83c5a27d9e3b373550.png
#EXTINF:3.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7d989f49719433876d31f7f172a146f6.png
#EXTINF:5.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/72b87e63032d4225ad1eb49d0e386224.png
#EXTINF:2.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ed48b275097423c436cf8286ae3377be.png
#EXTINF:4.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/777712bfdaee38cc1e2dcc48589cde95.png
#EXTINF:4.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2f529b0925f721e76bc51227b8150d2d.png
#EXTINF:4.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5cba502f78cadfb65bcba4b854a280db.png
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/53c38ec5198b7286e3b831a43777f869.png
#EXTINF:3.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f3126d11d2d2e2eb03196d51ff8b2c86.png
#EXT-X-DISCONTINUITY
#EXTINF:6.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0ba09dda4ca6a03f509d4ad788bcfbb8.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8453cc7f16414a14739ace9c650a9d7d.png
#EXTINF:1.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fb75b7e79ec989ee29ea616fcf687c08.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3494903185389f0ae604b4411a8cebac.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/dbe6f87e0397d04df7e7bf6a8cd9dffc.png
#EXTINF:6.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c6f64493353a4e8ff0ec7f4b0bdd0afa.png
#EXTINF:1.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4b92a32ed3bb7130a8416bfe42ae4a33.png
#EXTINF:3.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1d2abe38954d2700ab269e37bc3d5758.png
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/76ab60e1f76aee02b6b6544fa00fde0e.png
#EXTINF:5.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fd007b9e221390fab9aebdf37c5b72ca.png
#EXT-X-DISCONTINUITY
#EXTINF:4.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/01a2c21e338b6a6dc03adb8265a8bac5.png
#EXTINF:2.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9336c2f47b701ba130592185f7a273db.png
#EXTINF:5.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d438fe5ce33248d91c033d2b6565c66e.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6cc8bad30da88a2eda6a270dd2c52861.png
#EXTINF:5.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4a7109db971fa2404dc0948fb7aeffe6.png
#EXTINF:2.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/69a95d3661a48b787f02c49d30e2bd1d.png
#EXTINF:4.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1ca1deab6f93be6026783cbc77623766.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d5c5af123f34fa28b7948807052ccef1.png
#EXTINF:5.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0212ca813601d6934336494b76e198c9.png
#EXTINF:1.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9b001b8f1873ac3c364781f42998e242.png
#EXT-X-DISCONTINUITY
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fd4776b7a6ecb243df657d54979ef1d5.png
#EXTINF:6.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d0f60e35a3173f75955e1f2efd3c937c.png
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e9f74d450a55eef031dc3c12fac6d8c1.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7d9a0192cf77cbe833135b8647b6f0fd.png
#EXTINF:2.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/20fcd897f5bb1cb9e4b45b98922748c7.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6a39266a7a562b0ad7d84e311cb6a231.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/89ecf11434d1e734e50a6fb28e872e3b.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/748b25e6edfa9a86477cfb95c04042cc.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/bc906ddd2c470290052f2badebdad464.png
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e5b9e393ba080ec3fb29f66a5433855e.png
#EXT-X-DISCONTINUITY
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2f53a5585311afb1a3ba24aad4b8d80d.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b300956c4cef7ec83dedbbd89a202fc6.png
#EXTINF:4.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3a1b446bd2b03960096b8fb467fa533d.png
#EXTINF:5.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cac0cb6c33212525fbd832c4ed58f423.png
#EXTINF:1.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3169bf86ee02298af753882324b6a6b2.png
#EXTINF:4.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f1ad4d04cc61931228b06fc4b7cc41d6.png
#EXTINF:6.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/75e93472181af19ff6ce393fbcb21d5f.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5f9e29d182896d7e258c0878e72fd11c.png
#EXTINF:3.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e1c9f9cdd52570336b2a0fec139124a3.png
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/26962e570d70ab7f53db45afcc45a4f0.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6d77643f58dffc0ec70b2b1010669487.png
#EXTINF:4.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9aaadd6b5726ef7f5bfba4dea8765ad7.png
#EXTINF:1.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/da2ea1bdddcca5ced3ec910ea90db87a.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/deabcb9c6c70dd57b4c477f966e09470.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/53a7ea43bf2af63ec85b805d3c3769f2.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/aa495cacb638eb47cddd8ede22c47014.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fca248a4d14f7bd5d02d523d6467b03e.png
#EXTINF:5.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/09c366ddc94b0a603e9b40bafc77b44a.png
#EXTINF:3.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5817bfb68023dac2f2317c96f0f3dc01.png
#EXTINF:3.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9439ffef6da03266a3af6853ec981374.png
#EXT-X-DISCONTINUITY
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/98eaec1e522eacb9904f186713f6c7f2.png
#EXTINF:4.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d96d831282d773390c627e14817ceeb1.png
#EXTINF:3.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e245c5d3058f1d4078eb9b649f79baa6.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/17bbfea423e709c421936d4df733ef7b.png
#EXTINF:3.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3c9a3444601b0448887fb2fe3922f2f0.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1e682dcda5598fa99e00ea6ba2b20d5d.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8706f79923a507968223bc31c871b055.png
#EXTINF:4.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0e2f96fdc573cd6feba997dfde6e2432.png
#EXTINF:5.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/beebd6913d1f4238eb4a8712a4d72923.png
#EXTINF:3.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e5c7f46ca5ca4c401219443f5d03b0f5.png
#EXT-X-DISCONTINUITY
#EXTINF:6.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3733ac6795fe22c3bfe41d9ddd4760da.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0dd2b51c23503bed9099e16f6a9fecc2.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4dfb3d4a6ebccff90d94c7589f369620.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/16480dc8cc91aad510dd1a25dec7a818.png
#EXTINF:3.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b7e74d396ececbea554b9e5d68fe77e3.png
#EXTINF:2.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/53ff35f37020db4bc976f0872a3867d8.png
#EXTINF:3.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e26a4a8f4d72ead03fae1700decc7e8e.png
#EXTINF:6.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/28f574f8a742cbc7e88770312d1ca47c.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/74938f8d0ecabc8ef0d2e77c63872b41.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0b7dfadcdf442266dac365948196eb1a.png
#EXT-X-DISCONTINUITY
#EXTINF:5.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f50cb9ebdfd531481c962c59a9ead394.png
#EXTINF:1.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8884abacb198cc73c90e32b3da7bfe76.png
#EXTINF:2.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/04f93ebee6b1305afe8734452d807c89.png
#EXTINF:4.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/10ee8427569b52a5a95dbd723a2b357c.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/49e606f2bbd2c3ad9acbfa2c1a9f8cc4.png
#EXTINF:4.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b3529642a58a628c77e4a58d6806541d.png
#EXTINF:3.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2146e7646642511bf386aac935fc8017.png
#EXTINF:2.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b392d76ec6d78fcf55b0ff9d7c80f745.png
#EXTINF:5.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c69177738662562cdcae5763bdc52cce.png
#EXTINF:3.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8e9fb5b25785dc61d3137d0e51262618.png
#EXT-X-DISCONTINUITY
#EXTINF:4.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/10602208a4a45cc4d28e457585e14a42.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2daa25399b7ab5fbc553bceb526cd0ed.png
#EXTINF:3.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b2640a83c68f48aab2c90f73c78d65ae.png
#EXTINF:4.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/91c12ee4f616c8526a593f07bbe4c691.png
#EXTINF:3.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/407b7110cb8df8d1294ace0ee40b7858.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0cb6f286cb8f7ccbf0ac9c376c831928.png
#EXTINF:3.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9f2be6b1ee4fd11ba06b9e8664157169.png
#EXTINF:4.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1078da38e649829a6f1dd8d411b68784.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/309c79c5a8916f26acde22f8e7cdd543.png
#EXTINF:4.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a1885b09d4ca17edb06c2969b1da113d.png
#EXT-X-DISCONTINUITY
#EXTINF:3.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4f3a835a2a004b2a5ce1b92aaa2e4ab2.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/df11348597c34629d9e4563cb5208fea.png
#EXTINF:4.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c793428bc31670381b907347e42f1ba1.png
#EXTINF:3.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/bbe03842ebfa6b87e23a03352e6c1546.png
#EXTINF:4.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a11c84e30feaf2b7e622e3ed16fa6f95.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4a90cb1cd412924f446e199165e4b44c.png
#EXTINF:4.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cec5c4aa970c2fddd7162d0011089ff8.png
#EXTINF:5.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a665b86b15d7a8b98e962ccc5e9e0636.png
#EXTINF:3.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ed9f29f55ba1e33fbea845e7eafaa564.png
#EXTINF:3.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/019bcc083e7b976eb32d5939c1bb280a.png
#EXT-X-DISCONTINUITY
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5aee5be200f9e5e4b251dbb4455fe961.png
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/744f1de2cea61555ab2614a87350456e.png
#EXTINF:3.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/85ef51d26a0f27dcd201c43b16c1dcbd.png
#EXTINF:4.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/899233459b6c251bf001503e03236cd2.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/edf56d56d2c98291cdca0f03d921b867.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/180d1976ec2356bfd68c632fd90f14b9.png
#EXTINF:5.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/010e731befcb93acd9c29d826c7d939c.png
#EXTINF:2.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/88703fe871af4a9d71d332140711190a.png
#EXTINF:4.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cc565f2422ea58a126ed057a8bed04a3.png
#EXTINF:3.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/77ac64e6f4a41cea3d984aa2a525d9dd.png
#EXT-X-DISCONTINUITY
#EXTINF:3.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e4404f221f88a40fb4e1ca833f1a9721.png
#EXTINF:4.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ffc95d7af436cb3c42db1ce9758f00ba.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7a3adc45ecda7819fc82523c91b15e91.png
#EXTINF:3.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2189071f93c7f1b4d2747b7e2940bfc9.png
#EXTINF:4.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8cc83e27f45f205e604ce1caac0db7bc.png
#EXTINF:4.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6a30e07666b2bf4415fe9d98a1ac00fd.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d47901f856e7f9efacf538b1acb6f41c.png
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a2b1c4852e0798cc3cac56261e09357e.png
#EXTINF:4.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/406c1923b87facb9caa17ee9ebbcd59a.png
#EXTINF:4.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/96e0b231cc4a4aabddc340e4628d7eec.png
#EXTINF:3.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5900a4ae9010fe38310fc0290776c151.png
#EXTINF:5.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2d02b300dd56e88a2e9472a71ec86b4e.png
#EXTINF:2.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8aaa3577e5e7b0154e4948f2f49e81be.png
#EXTINF:4.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e62117c0d8790eb9bc9a4ad6c5c70207.png
#EXTINF:3.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e32ae31707f7885526efc7fa88cc3c50.png
#EXTINF:5.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/dfd5c79eccc3d8dc3511f52fd8ecaeff.png
#EXTINF:3.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/817c5748316147bb9f9fc437d0562414.png
#EXT-X-DISCONTINUITY
#EXTINF:3.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/342a380300db9b8ad74965a975203652.png
#EXTINF:5.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f1e116ca2cf841f848e902283fbd54ad.png
#EXTINF:2.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2a9fed52ded4adde05c21e7b05492c71.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/41b4dd41f513b36e63fbda5e256e9387.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/38d2a8828bc1ce6cc545a6890b1a2db4.png
#EXTINF:4.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/901a54e5a40ad7b740c7dd368deace5b.png
#EXTINF:4.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/bb56cb043234adc1db598797afc1c20a.png
#EXTINF:3.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/03d97752ab4426cd6e2bf4364040a96f.png
#EXTINF:5.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f05062561a5abb1c0e5aec0dc62367fe.png
#EXTINF:6.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/05d6c3a06645cfbf3dd12fc8e13bd576.png
#EXT-X-DISCONTINUITY
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7dfef138637e0a7561929cd0b5420f3c.png
#EXTINF:3.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c65888d403ebaf1bfbf313c85dd04b78.png
#EXTINF:1.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fdd212cb03edd077c2bae70f40425567.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c545ad738e28e227e28bbd21976de6c1.png
#EXTINF:5.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/09dbab170812e6b94cb28fff7ed44528.png
#EXTINF:1.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/51f0736454aa4d65656297f5fa3c48b3.png
#EXTINF:6.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/962bd760446f71e0cdeaa2f1baf5ce43.png
#EXTINF:2.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ace9daeeba62eff76ab570109d683d2e.png
#EXTINF:2.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/25a7bb043e0f82ea08cb0b099358f8e5.png
#EXTINF:7.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6e25437bf90786bb866c49a31c4cccf3.png
#EXT-X-DISCONTINUITY
#EXTINF:2.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8ff2dc540ed43bc00ace7b003529aa54.png
#EXTINF:2.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3b05dfa6b71abac460122e010188a541.png
#EXTINF:4.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/aea67ad70ed2ed4acf7037809b16edd1.png
#EXTINF:2.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6b841acadad8c28f825c09bf71bc5e1b.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/dceb56fd541fcd081ce38c66da125fa7.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/133efa7d12ea3cd7a444276519fa24d4.png
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1b227a09d3c216e8cac4d73d8a0eb745.png
#EXTINF:4.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/279a7e635a3c17b2b81a4ff66a90ba3e.png
#EXTINF:3.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/639be88da4b9b55a8a928aa756b6cad7.png
#EXTINF:5.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/12c4b843c6c0a5747e6c35a19dfae1d3.png
#EXT-X-DISCONTINUITY
#EXTINF:4.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/690e3494ff33225395b6e6140cf37c93.png
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ce4faa8b88e67306c9bc5ce3015aa60b.png
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/42f4740e2e853805acf0083068921c66.png
#EXTINF:4.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9f73d2da80b5788642d01da64a91443d.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5ce2e908002c9a8d4e807140d798de63.png
#EXTINF:3.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/09d873d0a012c6643884dc5f3b8a9c8c.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/104371cd380ccae2dcac65222e50e23f.png
#EXTINF:4.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a70c23b0ddd9750fe8ac6104308eaff2.png
#EXTINF:2.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ac332878b791f5f27a197822a6e34ea0.png
#EXTINF:4.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4531b7b50728bf14677f11c31b169785.png
#EXT-X-DISCONTINUITY
#EXTINF:4.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/95594c0a4ff9fb03213c95334630e254.png
#EXTINF:2.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/04ba764591695bd256f826a93ceef974.png
#EXTINF:4.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1f03cf65a6738a4c38286258bcd01836.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0c11752f987b3a11d74013d3f4c5686a.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8f5533caaf1e72375d2b99bc1e85633c.png
#EXTINF:4.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b15483fd395daa5b88f4f769ae9b2aa9.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/262b239bfec9f418e803d5851a989f75.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8af4975e46aaf5398e05524a2716c6cf.png
#EXTINF:4.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e83a614cca4ce599cd7a697432c26f43.png
#EXTINF:2.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8b4b0f78e4ef5667dadbcebe0e8e6984.png
#EXT-X-DISCONTINUITY
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4efbf8bc61499ca646b0b98b74a9cec7.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/497b2fb97dfccdd21fa7b8c1d6769b64.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/bb3727b0093372b9a0d4bc94039c43a1.png
#EXTINF:5.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1a6a63d5359d596ca994075aa4c9077f.png
#EXTINF:3.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6ea8ab3ae3a1a85c1bc51fbd77e8bcf4.png
#EXTINF:3.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/53e7743a5cb22d2645dd4335cb7dc60b.png
#EXTINF:4.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/39e6128f66cb1b84ba2b7601171b3337.png
#EXTINF:3.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8cc8fe7845517dc8bf467a5b6b4a8202.png
#EXTINF:4.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9a6c91adc2297891f4a4f601688abbf2.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/09d37e8ea90cea9f94182cf107dcdbdd.png
#EXT-X-DISCONTINUITY
#EXTINF:3.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/efd3e003f5f007fdca69d263d62f54e2.png
#EXTINF:4.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e1ce1f3b2e95109757265407c88eb793.png
#EXTINF:5.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c03d310a9f52fcab9b54066831dbd31e.png
#EXTINF:3.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3b88b291f6a1104d5f31cb79b3c2283b.png
#EXTINF:3.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/160031652448816ba251b229b89583de.png
#EXTINF:5.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/05eefbee2d9a8c8d46886a003c9a8e6e.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ee23591eb145d5b35a51ecf03101732e.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/49eada994176a58fb917db47d6dd7d12.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d27ae88f7c2f7fda305aacf79bbb048f.png
#EXTINF:2.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6e8cf233e775c261b4bb72c0b7546f37.png
#EXT-X-DISCONTINUITY
#EXTINF:4.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b891b92f8f7d29f545df59db206f3305.png
#EXTINF:3.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/52faa44d25d586f4741c681d7eebcc41.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e1343f7fdc5087d8fca25a94163c6128.png
#EXTINF:3.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/79d32b5f8abd2632fa8c9ff9a7e279c3.png
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/dbc05ab46d6d7fac33d832b05ffb6842.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b902ae8bdb21213297fd44dfab84cf13.png
#EXTINF:4.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/46074d2edaa1b57573f8471989ecffbc.png
#EXTINF:3.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/aa5b53bbcf7a3f349a7ac581d7b26333.png
#EXTINF:4.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3626e20b67cdaf7c579ec70ebcf96a49.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/daa65eecdb79d0bc05885222766aa6d8.png
#EXT-X-DISCONTINUITY
#EXTINF:5.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7790a565c70a61a2dda7ac5a28bec8a0.png
#EXTINF:3.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d4e4e3e45d983d5187fc0aefa8ee2a57.png
#EXTINF:3.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fdd37597884ec9e35d367d7717dd587f.png
#EXTINF:4.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0da65e76f09449023ba786d61a7106fe.png
#EXTINF:5.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/bd8d1cf8dac75733d18f3ed9e2f9b7fd.png
#EXTINF:3.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e52b116196615029d8b8935b392f0ff1.png
#EXTINF:2.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7bff087521195a211dc29b1772fad508.png
#EXTINF:5.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6f19dd9ba99379ba2be2772ced1f1c54.png
#EXTINF:2.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ced7b2a140c64f7aee1b46d45768cd79.png
#EXTINF:3.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/748ae290ad3e89594495e2c45703d589.png
#EXT-X-DISCONTINUITY
#EXTINF:6.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/af4c62952ebc8a8ebaf5f98aca84134e.png
#EXTINF:1.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a164a8dd53093b673bf984bb85c6884e.png
#EXTINF:6.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f7ffe49b8f338a6c9ab8d82e0bd8f38b.png
#EXTINF:1.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0fc4300dd05b6f3aca59c50f2c0bcfa0.png
#EXTINF:5.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/13cba1480659da24096b2340d5dcea88.png
#EXTINF:1.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fe02c554b9896a1fc1ca9e1ddf9df4b3.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ea3522d9a124235e077ac883894fbaa6.png
#EXTINF:7.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f1f36da0373654670f477042cf290874.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/367d8377ad5b7c09673af0af6192d4bc.png
#EXTINF:0.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/54db3b366ca0757da42000eadcfd3530.png
#EXT-X-DISCONTINUITY
#EXTINF:6.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6050251105915d6258e91a380f71a628.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f995ba837b0130e22baf1144cf7b7548.png
#EXTINF:2.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/27e3aca54aea634a2f3be24d16fa6f7e.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6e76116a6ca95fb6454a6c98f4df5337.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d82be7ce489ea373b3cc8b50d6fdc0e4.png
#EXTINF:3.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/270f92c3a6f87aa3c205f83714729892.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6080c865adb15c27f319b8d68984ad86.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9c14d446f941eeb801cb83abe630f342.png
#EXTINF:4.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b8fcb86b19d8a274e860ed535229d66d.png
#EXTINF:5.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/bee0d6818e719ebc6362e92e228adb91.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4fe20f50df3cd4d74a6630a7e107866b.png
#EXTINF:3.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/193a79e786c0517f28567d4f2e94fbf0.png
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5f3c86c5b151b6af39e0a9d7535a3a6f.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/aeadcb6f6d154932632945af4ee1dc00.png
#EXTINF:3.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c01cdaaaa8f4362691612ce875382b64.png
#EXTINF:5.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/99290a2b98a11061eac2b230ea7215dd.png
#EXTINF:4.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/518c8c451a1492a5a628b1ef46d23553.png
#EXTINF:5.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/df4807f381913c659771d81ac967e5e0.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/057d1415b0d8d47a37ee632af873d037.png
#EXTINF:1.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8e729f97a063fc688dcc0f4226e42f97.png
#EXT-X-DISCONTINUITY
#EXTINF:6.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/dcac0bacfbf631d4c7bfaad281312acd.png
#EXTINF:1.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/faa418f941f6cc8019744ac97754287f.png
#EXTINF:3.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/074d59bb28028c315613f177ec59a914.png
#EXTINF:6.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1b7fea652936091e8228471b995464b9.png
#EXTINF:2.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/66635d5daa26ff9977199fa9fe2ba361.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/faff76834996df9f48cbd3c92871c842.png
#EXTINF:3.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a1d85c9772a5e5094fcbb8884716a095.png
#EXTINF:4.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e9af0ea7481d23efac4fabc46c564d48.png
#EXTINF:6.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6e861137c224636a9825e574b0e0a748.png
#EXTINF:1.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e21b0fd324335b55769f2ac130e26a94.png
#EXT-X-DISCONTINUITY
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9743df4b74a9a033c2a18f99da4b7285.png
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a4a3108fea5b07e35e19fe90e7183022.png
#EXTINF:5.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8f073d28d8d910d15190d472b0c6fca9.png
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0d5cf97d78376e8fc3a21bb12f568f99.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fbff1a1a0febaf893ea7a7168f4c6b1a.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6fa342e441845d8ef5636c933b6311f9.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d5d30537da91521748429397f0bb6713.png
#EXTINF:6.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7b0c2a598d7194eade5e087e31c2e6e0.png
#EXTINF:2.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/07fde320ee8cbe608a710328a5a7e38f.png
#EXTINF:4.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1f6797e7d54aee89f0d1eb72343ea46b.png
#EXT-X-DISCONTINUITY
#EXTINF:2.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4c9e22a85ad4a61fd3f279f2db210895.png
#EXTINF:4.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ceeb265a65ef921f4290dbc7da919943.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f40059e381a4cce4fff0aa59c022d121.png
#EXTINF:4.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1bf47cda06cbf56de2d9c5a6e32d6cca.png
#EXTINF:3.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/59a49e1f33fec88508b019a434cca360.png
#EXTINF:4.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cd401eebecca36744af988575d0ad9ba.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/43e731de99da26e19072a14245aa84a1.png
#EXTINF:2.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a3a1c94a16702665ead79492a8ecbacd.png
#EXTINF:3.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/83aa89b3144831716db2b17a3f55297b.png
#EXTINF:7.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4ae12559e383c829b4928f56539213f7.png
#EXT-X-DISCONTINUITY
#EXTINF:1.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1063c3e278a0f9293abf96f3a5cef9f6.png
#EXTINF:4.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fa4b8d50b86c5ee2063bd242c1e32183.png
#EXTINF:3.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9ff23950d08debc6d56e74ab7f580ac4.png
#EXTINF:5.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2cb4a4d7f4b3f0837676f94b76ad9596.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f2fb04389db35d6cf173e6df2d25de1c.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7b4a063c9ce277c97d42cd3809d92221.png
#EXTINF:2.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4ab1a9e7388c6e9f00fb14853aab7af2.png
#EXTINF:4.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9e442720dffce4aa47b187fa6ffa7fe1.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3fa0e9572e2c4e509abf911b19067bbd.png
#EXTINF:5.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fa89a2c7c6f93dba120a84750b5df3eb.png
#EXT-X-DISCONTINUITY
#EXTINF:3.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d2c51d6cb06dcd909b7643c3e3bf66a9.png
#EXTINF:3.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fb833ec742db355eea009f28b84cb799.png
#EXTINF:4.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b902530406c4994d3f59b440e1df424a.png
#EXTINF:6.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/440ce99e0039f30c0d91307acbad6331.png
#EXTINF:5.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/38da2272bff160286826bd09d9b5e8bb.png
#EXTINF:0.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3c3657a3dfef5d5175758de81785b968.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cb87e0456076424c7fc5eac2bbcdb674.png
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/96ec09deeea80ba227a2bfe5f062d2a4.png
#EXTINF:5.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f046ca55e272847d9ddddfd69b2ba512.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/11dac905f7a846dc2f67acdf6647c33c.png
#EXT-X-DISCONTINUITY
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/26ac4196507ca4b8841fc8c55a354810.png
#EXTINF:5.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1df157c956037652c2939c6451cf318b.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d106f9512b2867780b1584360e9ea6f5.png
#EXTINF:2.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cd35971b663e8b38618fa620d2365ae7.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cb2bee07f6d9902efbca609515cd8651.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ccd3d66bd6dd5b1d15085a38fdc3e295.png
#EXTINF:3.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2d1838052b7b97bd287cea3aa53b1af6.png
#EXTINF:6.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/be1698b89e38c56b5720755260379f20.png
#EXTINF:3.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d6dc492083caba02383a9973948d4f04.png
#EXTINF:5.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/09247460fe6bdafd35510b250c82b060.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d7e43ee50008fdaa64b16fe3c47a7741.png
#EXTINF:2.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e634d56e9f7df47e87769c933b79193b.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/665aefbb99c35d5621fdf5283ae7c72d.png
#EXTINF:2.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c800918edbfe0219a6b3cf6459f5244a.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/741886915c51bed949bedc6bacf9b55a.png
#EXTINF:4.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/57811799f800199401a6088c444490e2.png
#EXTINF:5.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c899bd947cebb90b7a2c9f7e32177493.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cbc67f433590867869ee6ef6cacb5cbb.png
#EXTINF:2.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/da49342476fa74fbf2f8c2332e1ff407.png
#EXTINF:5.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/86831d262dccad0651d66e1ca7e1ad8e.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/16b2c0c5436607d30bbd7f506f1c687c.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f8abba6f765fd4e4cdccfff6d76593b2.png
#EXTINF:1.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0dd0c34a6e326075cd80492625441f8e.png
#EXTINF:4.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0554de34c85ed5300d5ef9f7a656151d.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ad4bca9729eee073836492c1d362644d.png
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1f0f64f7daa044f54c66dec97dedd11c.png
#EXTINF:4.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/af8c86473697921e3938fd47279cac9d.png
#EXTINF:3.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/848968b1b5766d5810bd7d4209e9ccf9.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5e90d63c99d02e8f494d950479cba9d9.png
#EXTINF:4.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/01df029515adc229afe9bba044dc46bb.png
#EXT-X-DISCONTINUITY
#EXTINF:3.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d390e8e14c5e7679d857adcd0486d2df.png
#EXTINF:4.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3f19c2b142663ced5597d6135296c2e9.png
#EXTINF:5.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/53533287204b82eb64fd860ef2e9ec16.png
#EXTINF:2.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f696e89a4891a4ddd113506674f79607.png
#EXTINF:4.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ce4db31f6431f50eb86af9a8651ccd99.png
#EXTINF:3.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3be1e0b7ab12fab392a641f6236ef720.png
#EXTINF:3.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3b7eb7d14b6317c0aaf652343b7875cc.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/20b8a846409ee7007e2bf8b73828e360.png
#EXTINF:6.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/da97f7405e6560a95ff68c2bacd5646f.png
#EXTINF:1.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/30f53980758b0a515598f479da9f86dc.png
#EXT-X-DISCONTINUITY
#EXTINF:4.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9e1ba0cd4560255c16564dffd41604a0.png
#EXTINF:3.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/41ad1d1081f45adc9c9a99e3edec7cda.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2f11509f59bfc8d04ba524b2e9da7094.png
#EXTINF:5.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/612ad74016856a15cc47b2d7d980ebfb.png
#EXTINF:2.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/980648ecff5e0221a397e6591d45aca7.png
#EXTINF:4.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d258b2c2752b480c2f773a8905bec60a.png
#EXTINF:3.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cc1b36876c4bf4d67fb47f7cf77a9ead.png
#EXTINF:4.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/cb2216087f5444cfc2190b9a28f0fa61.png
#EXTINF:2.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/64ad815887e82198b06903d15383a83c.png
#EXTINF:4.440000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c8373f88193742b634bcf292195f37e3.png
#EXT-X-DISCONTINUITY
#EXTINF:4.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b211d19c4db9c3ac138c95cedd7a0e28.png
#EXTINF:3.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d0a62b776ce87254fb07b24d9b9b5ebe.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/22c0e5ddc89eebe992234fabd1e1ae45.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5c1d443a396a7a0bc4826029adb35344.png
#EXTINF:6.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/52c0ac311667285854cf10d229ed498a.png
#EXTINF:2.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3ab9c35c9834c8f5cebe33c37be09c5a.png
#EXTINF:3.600000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5037f3792db2aa08da5691c427f34ed3.png
#EXTINF:5.520000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/75b26381d1ab8a6c18e3bfea884c83d0.png
#EXTINF:2.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f4d18028ebc5c8618a564e80733825d5.png
#EXTINF:6.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/42eae38a8a55ffb7edf6e22e74e46b2b.png
#EXT-X-DISCONTINUITY
#EXTINF:3.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/71b2e959457c539634dfb07ae6257ea1.png
#EXTINF:3.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5258a4acc390e2f69e23fe182079e8e7.png
#EXTINF:5.360000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/475fc63e85641bd5c22d59f0ff8f5a74.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6ac73c3f7580a5cdf68551a13dd0b540.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7fc1bd2f5b5f8620db53ac31ecf577b8.png
#EXTINF:2.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b7b8096e2ae82c360fccb5bcd6828bb0.png
#EXTINF:3.920000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2ca8dfb58df4ffdeae602a53b49510bb.png
#EXTINF:3.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1b129dba3d31bb3c1dd234a4106f8c48.png
#EXTINF:4.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/0580b18ac387ef459cf4e70eac1741be.png
#EXTINF:5.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/062559d862c1444d51b59c88b2ea578a.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/787538757951ff99d145c15ce2b53ac3.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f38744138a431c0eb063d37038de01de.png
#EXTINF:2.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/46204c4dd83b5b575a4aa7d6e0b5539a.png
#EXTINF:3.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6afd7dc40c7c07938c9574b3ee3accc2.png
#EXTINF:5.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/3f436fe2a710eb6fe5f728a02d27ae50.png
#EXTINF:2.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/eaf88af8c6bf5d07d177dbd84ecbe429.png
#EXTINF:5.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e21ace76568fa33cddc5b08ac13d1b11.png
#EXTINF:2.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/13159bd312b8beaf171c584f85e2d2da.png
#EXTINF:4.680000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/41855f88ed36a698a7802a91394e8678.png
#EXTINF:3.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/e5a9ab3ffcdd3095fbaf98398d1242d7.png
#EXT-X-DISCONTINUITY
#EXTINF:6.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/4a38424efbe0b26b80b0561aaf5addb4.png
#EXTINF:1.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/664e6425058542c3f8106a0e78f7b6ab.png
#EXTINF:5.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a136cf252bf2376787a2f95d2560ac24.png
#EXTINF:5.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/69ffff80daaa0cf53b4be6b669941987.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/47d24f813318105f621ab14ef79d3c09.png
#EXTINF:1.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5157818e9aaf67dac9dad2a318b399d6.png
#EXTINF:3.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f1bba7f85ce8e65509c117103758ffdc.png
#EXTINF:4.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a7e1cfdfec42fa95cba00fc8ed575ff9.png
#EXTINF:2.640000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/f66720a7573210be7df1304236681cfb.png
#EXTINF:3.880000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/b1400f7147d69cc4c4f784049c2664c9.png
#EXT-X-DISCONTINUITY
#EXTINF:4.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/1703d0acf893611d082a25114ca4227f.png
#EXTINF:5.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2fcf39a7ae748e8a54de56e41bae589b.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/66b97fb161de64cdce608c751d8ca4c5.png
#EXTINF:3.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/9e3c395d2bed5f0e82494ab3f3b541ee.png
#EXTINF:3.480000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/653e83d989c0ef2dc93ac1e99d84907d.png
#EXTINF:4.200000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/452d3ef89eb18810ce95737177f510d8.png
#EXTINF:3.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ebe102ca25c1018f8eb5ef23d7665ed2.png
#EXTINF:4.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/c2b404f4993b66c02fc4d8f8f2a923b8.png
#EXTINF:5.840000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8897025e4420c01236521b19f02d0945.png
#EXTINF:3.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/834b820ce49b8592f2b8f4c68ceb1483.png
#EXT-X-DISCONTINUITY
#EXTINF:3.400000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/da8ab57a99f7bcc0ffe9c57d9539cf08.png
#EXTINF:2.080000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2578ebbbb5bb3b3aa48d18937935f6c4.png
#EXTINF:6.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a29c7fc8148d1ec2b84b04c002551532.png
#EXTINF:1.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/058246b8e15f009a49cf6c2138424524.png
#EXTINF:5.760000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/06e75c3fb4c739ab4c2ea707166a58fe.png
#EXTINF:2.560000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/6d902484b9fe4f66cb5c83fe325a94f5.png
#EXTINF:3.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d0b808a80f9a12c370362bd583373580.png
#EXTINF:4.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/d32814e3a29304d0214a9ec7701f4cd7.png
#EXTINF:3.720000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/2d76f8d7e1d0680d0c28f4db3a52e7ac.png
#EXTINF:6.320000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8c1483b44b657733a2f6698fad6a83ab.png
#EXT-X-DISCONTINUITY
#EXTINF:3.160000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/a677507af79b699ee5387aaba8022d2f.png
#EXTINF:4.240000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5b9e8afb3f371829978c6bf80accbfa7.png
#EXTINF:1.960000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/8f039dfcaa006ce80dc19bc7ce635b3d.png
#EXTINF:5.800000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/ec62207b996ea41bc0077d7a150f981b.png
#EXTINF:3.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/7cbfd02f542ca8f4fe588b2160601ffa.png
#EXTINF:3.280000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/fe19115377d8a00803d68787080ee7a7.png
#EXTINF:4.000000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/898e83e78f52b1fbecdcfb8a6d188ecf.png
#EXTINF:5.120000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/5592abcc5ccf247e24ad0d32f21d24c0.png
#EXTINF:1.040000,
https://hls01.juyjuy2.cloud/0cc175b9c0f1b6a831c399e269772661/017cdb2cc1e88d1bd0981995b8716514.png
#EXT-X-ENDLIST
