#EXTM3U
#EXT-X-VERSION:3
#EXT-X-PLAYLIST-TYPE:VOD
#EXT-X-MEDIA-SEQUENCE:0
#EXT-X-TARGETDURATION:8
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/266dfdd4e6747a44452f4c6a1e84d533.png
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/459c07e9d8a6fa588bf7ca14351cde2b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/548e15de4c68e2dff4994829b88b3e33.png
#EXTINF:4.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2ef33c36da5c9417306863f2ac4b5223.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8e709cb8f87a5690fd9985c1ce7445f9.png
#EXTINF:4.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/84dfe454a79e4b6e643d1af1b0883740.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/facb34ee7becc88aeda93e6336e244c2.png
#EXTINF:6.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/584f8964cc013d57ebb3a01a02b1f79d.png
#EXTINF:2.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/730623124ae39ca73d7ebee8f86acacb.png
#EXT-X-DISCONTINUITY
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bf9dcd2b6d5231aac797ec5700e99db5.png
#EXTINF:4.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7d2fc8437f186795763be73285fda5b8.png
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6edb4c4bafcb0a4a36a3a93e9ba145fb.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0da8f2540e4cf52dd55f757c52bb0231.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/29e9fdaa8942439524ed248670a0a561.png
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fd2afcd9817dd180badca89644f81510.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/be37cecc04f8ee151d7e5e9ef2324d81.png
#EXTINF:4.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9684a3f961f5c21e4c6680d7f980dcb1.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f386a7c2f9f9b1e277b5aa1cf0c418a9.png
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/417b0009f854372b8068286f96239337.png
#EXT-X-DISCONTINUITY
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ee7e0d2cfc10da430eda3654e04d1c3b.png
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4d85afa73890501291f553c4c5c68caf.png
#EXTINF:3.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f3f997b6f056231e62af721cd21e17d2.png
#EXTINF:5.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/57b4f18f01bcf06df6aab438680bf15c.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e8e0ec61f84cebf216b1ab4e5d865575.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/26159c375c2e321cd0ec451655429c17.png
#EXTINF:4.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1055613436d3c57858e201093c5a0580.png
#EXTINF:4.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/440c2985cbcb8361ddf461c8e183ce7f.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f4286efdaa74bd90a11f2aa833f3d751.png
#EXTINF:3.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dc6ce5adbd0d787e2372f1de035a7400.png
#EXT-X-DISCONTINUITY
#EXTINF:6.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/51e9c687809311e04790dc8a0eac082e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e9578518a23d223fc2c314f92a16e036.png
#EXTINF:1.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/20a1d97c99cd6ffe1f44329ad07cad7d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a519471a27ca87b7141c73fa7b4e787c.png
#EXTINF:5.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2a295140c4159467168e16d0e9c74a05.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f193ada692b6cc00e053beede1eae8d9.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/379fdb183d31256b9b41f477d9eaa746.png
#EXTINF:3.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c762b45ffcd05791575407c37b26f5cf.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1589bc6d43fd89b0d045b4ab2d1b2c48.png
#EXTINF:5.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0c9f090eb152b85e6d83e9d5e41d35c5.png
#EXT-X-DISCONTINUITY
#EXTINF:3.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/69039ffd9590966c8a962f07e576c02f.png
#EXTINF:4.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e95fbb6938b108ee6d9e88868ef36802.png
#EXTINF:2.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/92808f68e84b786f0cbe534e9f8d816d.png
#EXTINF:4.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/87775dc5126c6dc17d1a9a16636bce6e.png
#EXTINF:5.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8e8041ceeed20e0815acb47e4df7f131.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c80cf69c6bcb8cf5bddb5f735b78721a.png
#EXTINF:5.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/409f739219e575448cf12f807ee9dbbd.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/41a8b0a85678293cce535b877e7ee129.png
#EXTINF:4.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8c4efc999aea7f972d4eb381f270ef73.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/930c68c9da09d7b5b41a027456a13430.png
#EXT-X-DISCONTINUITY
#EXTINF:3.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6d33e70e1ad5a6ef0ab72e3e0f166bb0.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ceb2b7fa5989f9507388ade929f15d23.png
#EXTINF:6.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9a7c85c122defa5950d0c43578f0c7a7.png
#EXTINF:2.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aa23b9aaf513c314441202baab0221f7.png
#EXTINF:3.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/72729a08b7e1122426298307520d7ec1.png
#EXTINF:4.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8ae62863419c62e94081d13467c34e41.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9b9eaf22518f1a489205851b636e304d.png
#EXTINF:6.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/68fe438894938d0978dc5b7843c74e36.png
#EXTINF:1.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3b4cd58cb5aebdc99c76be846d54b2f1.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f4db9b95b7ae38f684562b3f747b4c99.png
#EXT-X-DISCONTINUITY
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ef5ecf233475150e3f4efa097274e925.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2f2a69d84e052ca710fdeff1fd3dbb89.png
#EXTINF:5.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/45c1d15c120a50ab994f3fe31472c41d.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7f7933f7b45a450ade592b39c32c3b7e.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/14ae0c6daf76d653ab7c796c4d3838fd.png
#EXTINF:2.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/911f91a6b5112098bbfe43fc351abb4d.png
#EXTINF:5.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/995433fdd526b39308417556dc7cf2b3.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/35dc8c99943753605d76b263577b5a5a.png
#EXTINF:5.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d4aaf40b4962b78620465a097979bedf.png
#EXTINF:2.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9eefc312f9ba579e12d42840db21aea8.png
#EXT-X-DISCONTINUITY
#EXTINF:3.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7d7daa51dbeadff8f00f6a1494e87f2c.png
#EXTINF:4.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6e819089d65137c73556035442103b32.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3fc9350cdc2d5bf4dc8fb577b241d1b8.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2dc76ecb6ad8f8e2e5142c6cd5ba8ace.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/458f38d69d24d57514c61c12978af965.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d42369ee1d12fea82641447894d5b1cb.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/94d7e47f7b6414ec71fbce8d8b0c0b73.png
#EXTINF:2.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f516eebfb6555afb4b45b7a71cd92413.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5c64a9283118199ff210a064998c315f.png
#EXTINF:5.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c6d7c6cea2746ca18092e240c1a717e1.png
#EXT-X-DISCONTINUITY
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e686d3c374b85608c6ae4701bbd389a5.png
#EXTINF:4.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9a843ef4c6150b21247439269b802867.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/72a02edd79935075106b470ce2e68118.png
#EXTINF:7.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/307fe8a6ccd137810655b91d592cd5e9.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cc5f402a87a023d7539d48cabc679c82.png
#EXTINF:1.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aaf7efd238e89d4f4a5b05936faf2e3a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/44481f925c1ea69da4c3bd86a8f77a6b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/df5a7caf11b084030ed16e3490c8c566.png
#EXTINF:4.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4c695578cb723045556a70a9953e6696.png
#EXTINF:3.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/43c6c3a726723f07abbc93f174dd1437.png
#EXT-X-DISCONTINUITY
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b476135647f61a0890897d43f7e021ea.png
#EXTINF:3.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/28999c9d865ebb9f7b8c56b3740af993.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9f24b6cf142557717a64e308e568434b.png
#EXTINF:5.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e207cdbc3855ea72c38a5becebc5c482.png
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/300e199c3b3cc785714d8e59c30ea0ca.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/be55ff5020263531b8e683a5cdd1b867.png
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/450b73cd4777e383c89e15d2b9c99126.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d6603b8a34b5cd5c5dfac248c338bc46.png
#EXTINF:4.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/85b6e0f19c439df7b93ca21d148e8e62.png
#EXTINF:3.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dd0a263905b493f26d17639bbdb93188.png
#EXT-X-DISCONTINUITY
#EXTINF:4.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/967d624be9c2b92e8c6845d79b37242f.png
#EXTINF:3.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5e22bd925411610952c01b82dbfff72f.png
#EXTINF:4.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/12dcedbbeeea055b426da4da9931bb3c.png
#EXTINF:5.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4ce559d674b63fa8de3f62412e5b88dc.png
#EXTINF:2.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/684fedc3b038f1e4f49762fd8d9d027d.png
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4e23f3fc035c2ca9fbfd614d8eef9916.png
#EXTINF:5.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/70c4d9f21ea5e6eff9b39fba67fb861f.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0b699bd43d2098b1abcb7842f9d9cfd9.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1c6cec348a84112578e528d15928fc95.png
#EXTINF:3.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c6c442ebcb45748390386f6d88ca224a.png
#EXT-X-DISCONTINUITY
#EXTINF:5.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a6f6385d336207b947560df3d2262190.png
#EXTINF:3.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ff817edfd8290c32957bf227e747b869.png
#EXTINF:1.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9b1c7b691365889a50b1870a32bd4cba.png
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c019c6136db53319dd6e41fa3d3b6366.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/51108ce709a5afba31302f3a345d102e.png
#EXTINF:4.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3a23f81d24bee1d5498a990d3ef358d5.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/db76f8ca3dca0d39f53a62eebc1d4c23.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d3645add6aefbe0f88d441e0ad994feb.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ccf7fa3602f82666805b77ccc34dbf42.png
#EXTINF:6.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e743d85f501a9c71c4f813bf295ec993.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b27fe1e404e4494dcca22c376def6224.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7c64cf4362fe78837f199f4bb47a117c.png
#EXTINF:2.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/854867936c4e948a82bfb3455159bba1.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2013f6b9791ad37686b013b99ac567c0.png
#EXTINF:5.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8b834b344fb378c2517c92b35e9f98d6.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/db0506ad0abb5a0fc71ebdf4186bc1b7.png
#EXTINF:5.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/41802c4cd0ac9ec9bf954d8aa9954c1c.png
#EXTINF:4.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ae8e834a9547a04400f721bfb14bcd06.png
#EXTINF:2.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/49a7927d8508afd3cd7a82ff9baaf743.png
#EXTINF:4.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d3c9658438e460d238155db48bddf36a.png
#EXT-X-DISCONTINUITY
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c510b7a6327879ffb1b95a61384b9e13.png
#EXTINF:2.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/af661a3118fc5e88604a444388a7db0c.png
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1163a205a956dc789f6afe53f714c895.png
#EXTINF:4.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/616867b0b848d67c8f7d869facfa06e7.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/45b69a6c764c6a25ad284d5375cf719a.png
#EXTINF:4.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0142f013293612bb611822d6d7a28e4c.png
#EXTINF:3.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b3cd84b8fe8fe27bd008584a9ff6d9c0.png
#EXTINF:5.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6b132e8ed3066e43978b23e2e5cfeb44.png
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/42e926ec3a584997fa9644dcbebf1a49.png
#EXTINF:3.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f62d8e8621b0d5f0866678cfad095714.png
#EXT-X-DISCONTINUITY
#EXTINF:6.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3c925a240a9cbc6ff2cc99cdd3c304f5.png
#EXTINF:2.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c0ca896dac42e79bac45cb9173fc9896.png
#EXTINF:5.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9918f0b5afc05ccf9b96e6cbf485c5fe.png
#EXTINF:4.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/327ce7b0487ba2d3e9df5467bab9bb5e.png
#EXTINF:2.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/996fdcae25be5cf287ca9644d06bd3ce.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bf3067dbcbe43ecab15dd627eccafd65.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/034dfeaed2133ba2d2c6305b2dc86454.png
#EXTINF:6.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/62b08371fd460507e351600b45b2b88d.png
#EXTINF:3.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b6bcd276e1e7a60f2b5b0bcd37fc4cc7.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/921d5dc33a69fe05869b8d308c7d4361.png
#EXTINF:3.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4b291e548b668318ec0f203d4385e762.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/405f43d606e595d84f9419c69abf8ce8.png
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b4803dc0b32d3abaa86d1da8abbc3eb6.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4a79fb27f55cc56016ad8540d0fec48d.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1935698470843e0cc83ed424caa53c8e.png
#EXTINF:2.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fd4efb00e8ee72006f786d2b417d30b8.png
#EXT-X-DISCONTINUITY
#EXTINF:3.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/89636e051833d5290f77abdbb4dd2de3.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7087c51f9fc59b6ee3542cf575379c30.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aaac00259528aa9054b17eddac45de96.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6b176cd97433ed07c1072ad0aee9bfdb.png
#EXTINF:7.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e09188df03d3e9a36b719481fd9552e2.png
#EXTINF:1.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b363459d32ac2c5f258350681be73b6d.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/69d1518fb6309024a54a74b00a4168fc.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5d77e210c89623ec85d0d97a49e6a721.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f9c78ea3c01d4bfa34e0baf1adb1bcba.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/87c25207cf28278d257cb8d659bda1eb.png
#EXT-X-DISCONTINUITY
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/09f65aea08a65c156ee9be9f6c337c48.png
#EXTINF:4.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/df32da5d8f0604d577959c065680ce1e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/14efbefae7af6db0989d240a3e1a7c26.png
#EXTINF:2.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3632c569dae7e65161b7a86cff7e51c2.png
#EXTINF:6.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0adb88276247324c555aeca48d98421e.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/00031544e3c5c1e321270a453cb2f1ba.png
#EXTINF:1.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5131dd6b3b2722d92b00f26194ee7b4a.png
#EXTINF:5.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3c7c17e2fb64ef92c8f5fc6fe99c9552.png
#EXTINF:2.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d827b676c342947cff1346c369f23d4e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e00241d1da5cdba62f8c012492e5572a.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7dc01d58f3f5723dc030bcda8379b540.png
#EXTINF:5.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6dd13f4dd96cc23d8c17c3feb958e55e.png
#EXTINF:4.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c9125de4cfe9e2864cf6979c4afc1c98.png
#EXTINF:4.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5592fc7cc50c17ab1910b5d91c0d9700.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/274072adfe427643d4f2ef5d8d5abc68.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cb2ebf43a4a94548d7de5a76e000b6e1.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8381b43462e0d28fb42e1fa9ccd4781f.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8de1a610aa5529930abc0f847831610e.png
#EXTINF:3.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3aba272f6656e1e2a6589a325d44b75a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4ab3ac78283af906882944ae4601cde2.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/12ec00fb8fb4e5785754ba6c880af3e2.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/77b9578af64b30a012e2638a1b9ea4cb.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2e5d78ea19e431e70e051494146692fc.png
#EXTINF:4.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bf31fcf700e430e5b699c2b0eac6933c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bb26b373a13005a2225eb3aeee53c15c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a807cd95479b14fd78e25c475a88594a.png
#EXTINF:4.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bb8531c9d778f0f6f72079f692cae3c2.png
#EXTINF:5.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f99767595608886297a6625de00c2f10.png
#EXTINF:0.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ee8d85a8b680316ea22154c6d916f296.png
#EXTINF:5.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/20e796180a4be2019ddae3501032340b.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d0eda445ac402a7578b23ee787e09cb9.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/88174331f1660d403912932aa2fad135.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8e42bc773b9370babc0fb1e5483033c4.png
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4e4feb7a501416ce530f0047bfdd1b61.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3a5b6181dc4648a9fa216352777540be.png
#EXTINF:5.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5652d05c299abb237ac32b18874f5ac6.png
#EXTINF:2.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cf18dd6f4df4df384c0ff6dd284a9f75.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ea91891f68410dc3cdeb6991f357fb02.png
#EXTINF:4.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/431ffb082299b21382c9f25d2712f3cd.png
#EXTINF:4.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/db95c513f1ee3f1f380862050865cc48.png
#EXT-X-DISCONTINUITY
#EXTINF:3.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1b3b5bde2305b368032700ecd4febd6b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c259e0b6a009a30c14a70ab0fae9fe31.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/05603f8ddac2da67f2af50cabbe12a36.png
#EXTINF:7.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8ed56cfccac0061ff67d69620e1e9639.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/15f721a0fc02941b72b62e18205094b0.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/512858d65e33a664f719cc0bf002db32.png
#EXTINF:2.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d0213a677fdd365e6ee875aa6b443a81.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/336183fc6e81da3658ff7dc6beaaff5a.png
#EXTINF:6.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/97579cc58a13c250a1b03ec2c04f2e58.png
#EXTINF:2.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3c0bd55dc4cfdbc172ecda67463648c9.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f41233cd4fe9bae3e686fa99b673a25a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c66aa17d9095bdfbfcd9330c88c6c773.png
#EXTINF:5.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0eaebebbb50d5650e2eabd39ed97b8db.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/15d99964c75fda512f93daef4f6bc018.png
#EXTINF:2.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/91e43e06b778f338ce58fed6cce3d198.png
#EXTINF:3.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b5e86134b654f861ccebfa385c38003e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fa68f8eb4101de7727627295fd8d6474.png
#EXTINF:4.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f3432c39b1d1709d586d37848e7d153a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/916bd373d9d4fc43acf7dfc3dddfe41a.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5c7abc1f8bdaee2a6b3dae539023a006.png
#EXT-X-DISCONTINUITY
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7865166a508fb3698fc173d7b22732e2.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bba54d9f9c9413529fe978380b1d3ef3.png
#EXTINF:4.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8f1d2065d7cd89116ff4ace9a1d82282.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/88faf738be24808d0a2eea800bf44b0a.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/52c6656a0a5cd2eca77e5540b53649c8.png
#EXTINF:4.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e18b5099d5debd6abcb2bc9c1825b4ca.png
#EXTINF:2.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6a4feae5c7fc7a1f4aa6db312fceee83.png
#EXTINF:4.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/abd25e16dd0085fcd63be7b392e3c1a9.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1dde98fc8e97c0f8b148319c1c5ff7ca.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4f61a0af434102eb9a21095dc10b4167.png
#EXT-X-DISCONTINUITY
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7a3d29b176056c2217a6d9fa1700a02d.png
#EXTINF:4.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b2f6431c0b9c89f072431d5ae4019600.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d4f5d5c4b7fff80030dd5c2e7c0a644e.png
#EXTINF:5.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f67b71c5ce726a7e5638c59330bd9944.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/308fc0559623c0813dabbe7555ee0998.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b13d2bcbd4ffab3b5c50bde2e2080d8b.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aba7b42f26018836da241da172ba568f.png
#EXTINF:2.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/71a5217a5f2581a3336626805daf860c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a3d676d7a3c3c990a8c524ea71d0c602.png
#EXTINF:3.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/014c98b45e3e83f86cf35361752e9e81.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8453834a14d738463830a07c1dcb7247.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f24b7a9c981812aa31ced9836f04b6ba.png
#EXTINF:5.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/66e9d36d3738f20a2894efd56b2a208d.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b2e89b77ae832b7cd16b7245302e5b40.png
#EXTINF:3.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ba50fa3ba89e8213166cdf754285fa95.png
#EXTINF:5.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cccc036e6beef208523b05c89931298b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7d00a1ed357433b7ecd8cf1b1794bd46.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f073a06f627bc0ec4fa89fd13a97e596.png
#EXTINF:1.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3666d30d53fa8843bb9373d354d0b73f.png
#EXTINF:4.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6840471001186970487b7a0d3144f84d.png
#EXT-X-DISCONTINUITY
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/844e3ba334f1389f268b9853695433fe.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/23f9c9363bec2cbeede4f7d2dafba078.png
#EXTINF:5.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f9acfaadbc89e1284c887b1d4cc1d659.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/be75fc8206dadf3ea30f517ef21ba6cc.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/942b0105c14a68efcaca39627c5fd575.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c26c885f6abe1c1e8c7aa933195e3693.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cf516014ee197a3825bafef4afba2c4d.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/60b0d0489087c2fda3c79db76eb9e82f.png
#EXTINF:6.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f77536b167ce2b2d48f4dca3495fcbb8.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/23719120ed3e3c5883103470133180b2.png
#EXT-X-DISCONTINUITY
#EXTINF:2.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/563ae40e402e3acc14dd7cf61f9a804f.png
#EXTINF:2.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/025417a0c0286e3da3d6a0a017e8d6bb.png
#EXTINF:6.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/45661e03108ef4291adb6bf7a97cc2e9.png
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5aadf3134824556a6aeb0d49fd36370d.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a0d53677c9db53d0bef173a36a968237.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0816c58d37c5991e76a02ad36a624958.png
#EXTINF:5.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2dc887ab2cd8337bd24deb1086bf2b06.png
#EXTINF:2.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d7ca239623d189d6ff053f0eef34a501.png
#EXTINF:6.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d9ce35a35c6fb3424b4ef67af244945b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/28550cd3d0781ef9eafa995295313dd7.png
#EXT-X-DISCONTINUITY
#EXTINF:1.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/06ab62eae168728f628f5b217c7b70af.png
#EXTINF:6.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5c2eebbb1a09fd955f97ce9ff978d7df.png
#EXTINF:2.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e447a44ab96bfd4888761dc7a5159cd1.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ac6b5021635fd745db01a0fa870d5f1f.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d89b9607949acc5cada726c634e537d8.png
#EXTINF:5.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/75b3ce8827f260dcba295e6549959b4b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/91b311d42c40c285fd79f01769b2d544.png
#EXTINF:3.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/aa2702fe7c0b4a8ba731d9e13fef5111.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9ccb8abac80f1e79a6a8c616eb0ad189.png
#EXTINF:4.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2dd2b41c449838ca325ff4fc8b7393c5.png
#EXT-X-DISCONTINUITY
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2c439a7d863f0ed9aa5309cfb8d69eb9.png
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8e0488c256a089dd90fcc3c0b39922e1.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a66ac291e690b8f7d370cc9149d81283.png
#EXTINF:5.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/48b14e7a5055296a5aad6e5248eb8df6.png
#EXTINF:6.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/27ae01b6d42e664399050ee6c60727d9.png
#EXTINF:0.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c4505eb2bb3fdd1528f6528c003e641d.png
#EXTINF:3.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/385eb98092611e2a840ed1a4d706c7f9.png
#EXTINF:3.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9bb782258d0c8dbd102b5b889fca9ffb.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2ceadb7c72cb649cfccae0623a0c092a.png
#EXTINF:6.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4e14efd84a8d704c9130cb934db1ead7.png
#EXT-X-DISCONTINUITY
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/47b482cb823a1910a4137bf3cb1beb26.png
#EXTINF:2.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8aad6f697a1d35e9b6f28df4f5ad287b.png
#EXTINF:3.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a82684d9a74ba147ae4482c36647ea53.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/36f5bd0cef616111023e195d102aedd4.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3e5df06cab592dfb58019e7d7c5e41df.png
#EXTINF:4.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/842d544afb23904c55769ada42252f71.png
#EXTINF:5.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f008765616c6f232e362128515d51538.png
#EXTINF:0.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a0f986e8efba39aaf6af2c28041dce29.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6fb727dc50dd50ac063d8957b09280f9.png
#EXTINF:4.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9b49068665778b765c3c530875c9b74c.png
#EXT-X-DISCONTINUITY
#EXTINF:4.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/41c4f6ef98a24532d38f915e92850b8f.png
#EXTINF:4.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3a1e0d85f82e40cb50823aba2c22c8a3.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7a8c9a4ed80c8b62a30c4944bf060143.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9bd3a81ebb6b0c5d0c06065051586378.png
#EXTINF:5.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7772c3d672c5710f11017f4a8edb3394.png
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ab3f2e68084d91f4e43f586269fc7852.png
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e3fed8fd0a3fce56d8191c0afa7803db.png
#EXTINF:5.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9610b9d92d210c0355c6019048ce5833.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b640851dd2b81565f83cfb910f8e8b75.png
#EXTINF:4.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ea41829d24c53430296449898e39d09f.png
#EXT-X-DISCONTINUITY
#EXTINF:3.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7e650f9c05e6e70974c24dab56679197.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ef4ce9d924c05a2584bb671dfc9c1391.png
#EXTINF:7.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/70cfc0dabff43966a1ceeeb8f3443d33.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/31cbc10a9b4cc7a2fcc1df643130a4da.png
#EXTINF:1.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d857907cd5efe487a450965848d837f7.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/df98b62ce68051c5c24670ccbb0f26c9.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/14c83b7e2758a22fc7aeca3195276343.png
#EXTINF:4.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2ad030c87fa1cd74b9d61502606262f3.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e6d1b0a83ef5e510d67ee79520f010ac.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4e6c0f6c1d1c2f1ae0ef9acb3aadd667.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4cb394134b5054b0baf8847975c62dbb.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dabe1e5a74c58abd350cee2ad9e52b2d.png
#EXTINF:7.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e5528d670537238f4aeb308fb405f48c.png
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/57b2e37757075a00186270832712c9eb.png
#EXTINF:2.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/523bd9b60de9cb4031abd66707e64733.png
#EXTINF:6.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/75e40d1f032adce5beb9a350aaf19a78.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/30362ae597cf6753b7b4a5e26f0bee49.png
#EXTINF:1.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5ab2ea307fc41642a9e96c77562de528.png
#EXTINF:6.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7c5305e312e78363f8564faf55a04f53.png
#EXTINF:1.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/88ec1cdc4c190bbdaca75e1f9391d63c.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7dfc3bbbc78423bb544565ed477f848b.png
#EXTINF:7.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2058b4fa2a7061c74d04e0343e1996c8.png
#EXTINF:2.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/80d6327b5d94fbe9e875b079a0483008.png
#EXTINF:4.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/4d07dcbdea122183a3fb4a54ddd664d3.png
#EXTINF:2.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ede64f016864d240ced7c082c2bf6549.png
#EXTINF:6.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/253a29e83a91111ee25b2d80f1692915.png
#EXTINF:1.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e8b205a51aa17bd823bc786d2582e1d0.png
#EXTINF:4.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8645085cb33a86e72fca06ee797d12b8.png
#EXTINF:3.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e82529a116310bd56451192aca101cb4.png
#EXTINF:3.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/33c05d7691daf35ec7548772cb4fc135.png
#EXT-X-DISCONTINUITY
#EXTINF:7.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/86eb16ca79775bdeb60fa039c2aab612.png
#EXTINF:0.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/79cc13b0b466dbd48fb2fe42f55e8d3c.png
#EXTINF:7.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/edce5cc431a2f03780e9455367f505b5.png
#EXTINF:3.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2ef682326959a21c6dd13473aee5fa0e.png
#EXTINF:3.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/71c81c8d9d04c6d3c65cf9c2f8c3c23e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/340e725620cb270f44adcc88e38d825c.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/534d5817fa2a62df88cb50387783f40b.png
#EXTINF:2.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6decaa8c4bc47a2d034d212a3c04926b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/18eb58f2bbe3e68ace410dc300fc9401.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fd24600ba37f33b668e241a99a1132e4.png
#EXT-X-DISCONTINUITY
#EXTINF:3.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cbf049ac6aedf510e1444ffa2e9a15d9.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6f12135f402654a3c3e16a4b34a97661.png
#EXTINF:6.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ef2ed586f7bec9804fbaecfc19ef5ff0.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/00a7ece98b81b5565bc35e7a8ee08175.png
#EXTINF:2.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b75907ca35a27ba56fafe487103604f4.png
#EXTINF:3.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b3e81482de54240dd457bef343a9e7ff.png
#EXTINF:7.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/68ddea3db627bca42073bcb50483a9af.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b50ebfed0877b4bd0bc78f15b31a03c4.png
#EXTINF:1.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d77b057a21855ec587a7317a1931da43.png
#EXTINF:4.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/41742a197fccc3af4fefc4370e760cbb.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7fcac3795aa2165cf162ea78e60562bb.png
#EXTINF:4.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5f79f086c9c3119aa4af0b7fc7b6e892.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d9beac15f1ec8e0b6962482ac219526b.png
#EXTINF:3.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f104a58779d84cab3c3584938152d06e.png
#EXTINF:3.760000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6718dad19ac95199609915ad33e22029.png
#EXTINF:4.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f921c21c674d653d7dcf25e7f99fa9d1.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7c1c2ac13ee111e08303959e32f33fc0.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/603446e36b589a00d94a23f9a6743c2e.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7c7588388a4cae241261363c4d1fb726.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a30f6bb19f09d131630eb046cb20dc74.png
#EXT-X-DISCONTINUITY
#EXTINF:3.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0f5a2eaadee67b08cc8fa64d36842ba0.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7d94d09b7d1950cef6ff5b59fb378583.png
#EXTINF:5.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/fa13646767659b0995a49d29ac187bb3.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a3b70d6515fb1d5c8419d08d68d08ffd.png
#EXTINF:4.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e9cd50b78e1a01e33a65f366dce4d55f.png
#EXTINF:5.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/e62283e12210f4706dce3fb3c4371e9a.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7ecfbb2d97901309db60b8866a2b975b.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/011f9120eada614f0962bffca54e8411.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/64a8317fc84321302b3ab8d7e9fe30c5.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/9ce5c8bd555251583fbf1a664c00c57a.png
#EXT-X-DISCONTINUITY
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ae6fb7e562ea3999d252da7926a54c86.png
#EXTINF:4.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3050ff05f02a7b542bee263a8559acb2.png
#EXTINF:7.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2702512c29cc6c4ea767d6d0be996885.png
#EXTINF:2.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/8b859816e66fe92235f9126e9ac99828.png
#EXTINF:1.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/dcad273e7815015dbffbbe976bad6290.png
#EXTINF:5.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/645f83c0b32f5fdbc5e3cf99467e438b.png
#EXTINF:3.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d994e6710714d6ae0a8bd9a00d669099.png
#EXTINF:6.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cca10f005912cc832b9d15a6ffb55b67.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6bffdcb2ded5fc0f8f97141a6272e5d9.png
#EXTINF:3.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7be1978218b69de2760ab2734129745b.png
#EXT-X-DISCONTINUITY
#EXTINF:5.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7b651cc71a322377ba7564925135ead5.png
#EXTINF:1.600000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cc42f224afcbf52f165a2d5608c0cfa7.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/12ccb3515ada1511b39e7fa96cebfc40.png
#EXTINF:5.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/17bfc6e0698e00327c6996a3515bf39a.png
#EXTINF:3.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/70a48803b236e648d45a93c435a53183.png
#EXTINF:4.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5475fc03ca854ff8c2cbd87fa88d72bf.png
#EXTINF:3.280000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/1b286d436913504dd3b671474acdaf98.png
#EXTINF:7.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/958b2fd3ebe3c0e276caaa226ba2f711.png
#EXTINF:1.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/c5f29c604450344bc8f4b850081db4f4.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/92999024a482e928cd1c4356db8df584.png
#EXT-X-DISCONTINUITY
#EXTINF:5.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/159ea624f653ef90ad4c6329bc31e33a.png
#EXTINF:6.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a87d3d346c1ecc570c936d802827e51a.png
#EXTINF:2.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b36415a1a1b81c417fae715e4d45cba5.png
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3eaa25fbcff6e5c38963f2dd819f3c40.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/ab913ba13d9e8d3cd30a3faa8f6c74e9.png
#EXTINF:2.880000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/be4914ef07d32b99f8cd5cca6c81cbf5.png
#EXTINF:4.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/775ec32306d7c1fd48f70b4b80df1c66.png
#EXTINF:5.720000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/205524144a810425919fc5d0e1f7e416.png
#EXTINF:3.520000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2c04181ac9967e8e36d8cd2066e62153.png
#EXTINF:1.960000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6906734ae65e3fb0cf614ecec82c6d96.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/978b6df8e90869c9d1d19c25966211ae.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d9b270a5260c9ea8981b69de8334a828.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2210ba3b9b5cf9d409c826b1f572dd30.png
#EXTINF:6.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/cc9727e6a4deebffc94384ff3961b908.png
#EXTINF:2.080000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/3d1f679f75974966ee0bad03677537d5.png
#EXTINF:4.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/d97b36cd5b28b290e2a642ed69ce1ae6.png
#EXTINF:3.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/de831dc0442371cd853997ffa5999083.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/18369e2a93abc2fd63274dd7e7ebf396.png
#EXTINF:4.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/36833f298c3a249678d104aed012dec8.png
#EXTINF:4.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b0b4b023f939a0c4d5d34a5cc2cda9cb.png
#EXT-X-DISCONTINUITY
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/df18c8a87f0a0017422435fadc3ef67a.png
#EXTINF:5.240000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6ce74a0e76131a2b47358c847401f739.png
#EXTINF:4.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/5a4d90c29b426da750bd524c4a9cb269.png
#EXTINF:3.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/203f0c1f5e3d39ba4896a923aabd03db.png
#EXTINF:3.200000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/63c8c90220322abb6c604e5d4a06f20c.png
#EXTINF:3.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/f93c2df381221ff8957f6d1330bc7424.png
#EXTINF:3.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/0792655e552efb3ae82e517ec5f90c54.png
#EXTINF:3.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/17d2822e1ff6753514582f283bcdc10b.png
#EXTINF:5.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/2855b826b68c5e5c5d8b8e1950766007.png
#EXTINF:3.680000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/93c529f5ca0fa0f281d60faf3b4faf29.png
#EXT-X-DISCONTINUITY
#EXTINF:2.480000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/65fc8d0f30b6b49da7332e9f5ae7cce3.png
#EXTINF:4.920000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/6dcfbf876408b6bbea226e1fac6f447a.png
#EXTINF:5.360000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b331af8189c8fa1ba0bb4f469c5315fb.png
#EXTINF:1.840000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/bf6aa7c07b823924fb501be16c1d4b5b.png
#EXTINF:4.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/047015e97575a25c36f566cc1897c04c.png
#EXTINF:4.400000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b91d1b3c4e63a4d1087f90759ec5e607.png
#EXTINF:4.440000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7178f85a383a08643e955bc62141cb39.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b78a80bf6cc7d4f5f23e75157bf87506.png
#EXTINF:3.160000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7f189de4991e5e8f4d9c4d0103571da5.png
#EXTINF:5.640000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a9211cf85a2cd6da2ed94875348a871e.png
#EXT-X-DISCONTINUITY
#EXTINF:2.560000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/b1adc0b2e20f48e289f183aa3b20a532.png
#EXTINF:3.800000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/25f9a04a079bb51fa86e457ae1271725.png
#EXTINF:6.320000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/77c49f5bcb7b5e984490398a60b16268.png
#EXTINF:4.000000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/7cc2d4723df9e463f8a1db1bc87db922.png
#EXTINF:5.120000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/a57a702b9a245982708d054bb38a3da6.png
#EXTINF:1.040000,
https://hls01.juyjuy5.cloud/0cc175b9c0f1b6a831c399e269772661/86dd822c91ca70cf72fa5d9a96aa1281.png
#EXT-X-ENDLIST
